{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/homepage.css') }}">
    <link rel="stylesheet" href="{{ asset('build/cgu.css') }}">
{% endblock %}

{% block body %}

    <nav class="justify-content-center h-75 navbar navbar-expand-lg navbar-light bg-dark text-light">
        <a class="mr-5" href="{{ path('conditions_generales') }}">1.Conditions générales</a>
        <a class="mr-5" href="{{ path('utilisation_service') }}">2.Utilisation du service</a>
        <a class="mr-5" href="{{ path('condition_assurance')}}">3.Conditions de l'assurance</a>
        <a class="mr-5" href="{{ path('confidentialite') }}">4.Confidentialité</a>
        <a class="mr-5" href="{{ path('ecomobilite') }}">5.Securité</a>
        <a class="mr-5" href="{{ path('cookies') }}">6.Cookies</a>
    </nav>

    <div class="container mt-5">

    <h2 class="text-center mt-5">III. Conditions de l'assurance</h2>
    <h5 class="text-center">Dernière Mise à jour : 28 juin 2018</h5>
    <hr class="mt-5 mb-5">
    <strong><p>LE PRÉSENT CONTRAT « ASSURANCE DOMMAGES AUX BIENS » EST RÉGI PAR LE CODE DES ASSURANCES, LE PRÉSENT DOCUMENT INTITULE CONDITIONS GÉNÉRALES DÉCRIT L’ENSEMBLE DES ENGAGEMENTS QUE LA MAIF PEUT PRENDRE ENVERS TOUTE PERSONNE AYANT SOUSCRIT PAR L’INTERMÉDIAIRE DE BIKERR LE CONTRAT « ASSURANCE DOMMAGES AUX BIENS ».</p>
        <p>LES LOCATIONS SONT ASSURÉES PAR : MAIF - SOCIÉTÉ D’ASSURANCE MUTUELLE À COTISATIONS VARIABLES. CS 90000 - 79038 NIORT CEDEX 9 ENTREPRISE RÉGIE PAR LE CODE DES ASSURANCES
            AUTORITÉ CHARGÉE DU CONTROLE DE L’ENTREPRISE :
            AUTORITÉ DE CONTROLE PRUDENTIEL ET DE RÉSOLUTION (ACPR) 61 RUE TAITBOUT – 75436 PARIS CEDEX 09
            WWW.MAIF-ASSOCIATIONSETCOLLECTIVITES.FR</p></strong>
    <hr class="mt-5 mb-5">


    <h5 class="title">III.1. Les dispositions générales de la garantie Bikerr</h5>

    <h5 class="title">Article 1 : Définitions</h5>

    <h5 class="title">1.1 - Souscripteur</h5>
    BIKERR
    <h5 class="title">1.2 - Assuré</h5>
    Propriétaire d’un vélo loué, par l’intermédiaire du souscripteur Bikerr .
    <h5 class="title">1.3 – Sinistre</h5>
    <h5 class="title">1.31 – Pour les dommages aux biens assurés :</h5>
    Constitue un sinistre toutes les conséquences dommageables liées à un même événement susceptible de mettre en jeu les garanties du présent contrat.
    <h5 class="title">1.4 – Tiers</h5>
    Toute personne autre que l’assuré
    <h5 class="title">1.5 - Valeur déclarée</h5>
    La valeur déclarée par le souscripteur constitue la limite maximale de l’engagement de la mutuelle, étant entendu que cette valeur ne peut être considérée comme une preuve de la valeur des biens assurés.


    <h5 class="title">Article 2 : Vie du contrat</h5>
    <h5 class="title">2.1 - Déclarations servant de base au contrat</h5>
    <h5 class="title">2.11 - À la souscription du contrat</h5>
    Le souscripteur doit déclarer la date de début et de fin de la location, le bien objet de la location ainsi que sa valeur à la MAIF tous les éléments en sa possession notamment le nombre de locations ainsi que toutes informations de nature à faire apprécier les risques garantis par la MAIF. Le contrat est établi en fonction de ces éléments.
    <h5 class="title">2.12 - En cours de contrat</h5>
    Les circonstances nouvelles qui modifient les éléments transmis lors de la souscription auprès du souscripteur dans un délai de quinze jours à partir du moment où le souscripteur en a eu connaissance.
    <h5 class="title">2.13 - Sanctions</h5>
    <h5 class="title">2.131</h5> - Toute réticence ou fausse déclaration intentionnelle est sanctionnée par la nullité du contrat conformément aux dispositions de l’article L 113-8 du Code des assurances.
    <h5 class="title">2.132</h5> - Toute omission ou inexactitude dans la déclaration des circonstances entraîne :
    - si elle est constatée avant sinistre, soit une augmentation de la cotisation, soit la résiliation du contrat par la mutuelle<br>
    - si le constat est fait après sinistre, conformément aux dispositions de l’article L 113-9 du Code des assurances, une réduction de l’indemnité en proportion des cotisations payées par rapport aux cotisations qui auraient été appelées si les risques avaient été exactement et complètement déclarés.
    <h5 class="title">2.133</h5> - L’absence de déclaration de circonstances nouvelles dans le délai prévu à l’article 2.12 peut entraîner l’application de la déchéance conformément à l’article L 113-2 du Code des assurances.
    La déchéance ne peut être opposée à l’assuré que si la mutuelle établit que le retard dans la déclaration des circonstances nouvelles lui a causé un préjudice. Elle ne peut être opposée dans tous les cas où le retard est dû à un cas fortuit ou de force majeure.
    <h5 class="title">2.14 - Autres assurances</h5>
    - si les risques garantis par le présent contrat et ses avenants sont ou viennent à être couverts par une autre assurance, le souscripteur doit en faire la déclaration auprès de la mutuelle.<br>
    - l’existence d’autres assurances couvrant les mêmes risques doit être déclarée à l’occasion de tout événement mettant en jeu les mêmes garanties. Dans les conditions prévues à l’article L 121-4 du Code des assurances, le souscripteur peut obtenir l’indemnisation de vos dommages en vous adressant à l’assureur de son choix.<br>
    - cas particuliers de la Responsabilité civile : lorsqu’un même sinistre est susceptible de mettre en jeu la garantie accordée par plusieurs contrats successifs, il est couvert en priorité par le contrat en vigueur au moment de la première réclamation, sans qu’il soit fait application des dispositions de l’article L 121-4 du Code des assurances.

    <h5 class="title">2.2 - Comment vit le contrat ?</h5>
    <h5 class="title">2.21 - Date d’effet et durée</h5>
    <h5 class="title">2.211</h5> - Le contrat prend effet à partir de la date indiquée sur le document de souscription de souscription c’est-à-dire la date de début de la location jusqu’à son terme conformément aux dates indiquées sur le contrat de location. Les garanties sont acquises de la date de début de la location jusqu’à son terme.
    Elles ne pourront faire l’objet d’une mise en oeuvre que dans la mesure où la cotisation a bien été réglée par le souscripteur.
    <h5 class="title">2.22 – Paiement des cotisations</h5>
    <h5 class="title">2.221</h5> - La cotisation vient à échéance le jour de la souscription de la garantie auprès du souscripteur.
    <h5 class="title">2.222</h5> – Le souscripteur répercute sur l’assuré la cotisation d’assurance exacte en lien avec le service commandé sur le site Bikerr, sans en augmenter le montant sous peine d’être considéré comme intermédiaire d’assurance nécessitant de ce fait une inscription à l’ORIAS.
    <h5 class="title">2.23 – Révision de la cotisation</h5>
    Le taux de cotisation sera revu chaque année à l’échéance, au 31 décembre au plus tard.
    <h5 class="title">2.24 - Résiliation</h5>
    <h5 class="title">2.241</h5> - Le contrat peut être résilié chaque année au 31 décembre, moyennant préavis de deux mois, c’est-à-dire au 31 octobre au plus tard, à l’initiative du sociétaire ou à celle de la mutuelle.
    <h5 class="title">2.242</h5> - Le contrat peut être résilié, à l’initiative du sociétaire, dans quatre hypothèses :
    - en cas de majoration du tarif applicable aux risques assurés par la mutuelle sans lien avec l’indexation annuelle,<br>
    - après sinistre, moyennant préavis de deux mois,<br>
    - en cas de résiliation après sinistre d’un autre contrat par la mutuelle, dans les deux mois de la notification qui lui en a été faite,<br>
    - en cas de diminution de risques, non suivie d’une diminution de cotisations, dans les conditions prévues à l’article L 113-4 du Code des assurances, 4e alinéa.
    <h5 class="title">2.243</h5> - Le contrat peut être résilié, à l’initiative de la mutuelle, dans quatre hypothèses :
    - en cas de non-paiement des cotisations (article L 113-3* du Code des assurances).
    Le défaut de paiement d’une cotisation annuelle ou d’un prorata donne lieu, dix jours après l’échéance, à une mise en demeure. En cas de non-paiement, trente jours après cette mise en demeure, la garantie est suspendue. Le contrat est résilié par la mutuelle dix jours après la suspension si la cotisation n’a toujours pas été acquittée (article L 113-3* du Code des assurances),<br>
    - en cas d’omission ou d’inexactitude dans la déclaration du risque à la souscription ou en cours de contrat (article L 113-9 du Code des assurances),<br>
    - après sinistre, moyennant préavis de deux mois, - en cas d’aggravation de risques, telle que la mutuelle n’aurait pas contracté, si elle en avait eu connaissance lors de la souscription, dans les conditions prévues à l’article L 113-4 du Code des assurances, 1er , 2e et 3e alinéas.<br>
    <h5 class="title">2.244</h5> - Le contrat peut être résilié, de plein droit, dans trois hypothèses :
    - en cas de retrait total de l’agrément de la mutuelle (article L 326-12 du Code des assurances),<br>
    - en cas de réquisition des biens sur lesquels repose l’assurance, dans les conditions prévues par la législation en vigueur,<br>
    - en cas de perte totale des biens sur lesquels repose l’assurance, due à un événement non garanti (article L 121-9 du Code des assurances).<br><br>
    <h5 class="title">2.25 – Modalités de résiliation</h5>
    - la résiliation à l’initiative du sociétaire doit être notifiée au siège social de la mutuelle. Elle est effectuée au moyen d’une lettre recommandée ou bien par acte extrajudiciaire, ou encore déposée contre récépissé (article L113-14* du Code des assurances).<br>
    - la résiliation à l’initiative de la mutuelle est notifiée au sociétaire par lettre recommandée, expédiée à la dernière adresse portée à notre connaissance.<br>
    - le délai de résiliation court à partir de la date figurant sur le cachet de la poste, apposé sur la lettre recommandée.<br>
    - lorsque la résiliation prend effet en cours de période d’assurance, la mutuelle restitue au sociétaire la portion de cotisation afférente à la période postérieure à la résiliation.<br>

    <h5 class="title">2.3 - Que se passe t-il en cas de sinistre ?</h5>
    <h5 class="title">2.31 - Information du souscripteur</h5>
    <h5 class="title">2.311 - Déclaration de l’événement</h5>
    Sous peine de DECHEANCE, et sauf cas fortuit ou de force majeure, l’assuré doit déclarer tout événement susceptible de mettre en jeu la garantie souscrite, dans les cinq jours ouvrés où il en a eu connaissance ; ce délai est porté à 10 jours en cas de catastrophe naturelle à partir de la publication de l’arrêté constatant cet état.<br>
    Toutefois, en cas de non-respect de ce délai, le souscripteur et la MAIF ne peuvent opposer la déchéance pour déclaration tardive qu’à la condition de démontrer le préjudice qui résulte pour elle de ce retard.<br>
    En outre, l’assuré doit prendre sans délai, toutes les mesures propres à limiter l’importance des dommages et à sauvegarder les biens garantis.<br>
    En cas de fausse déclaration intentionnelle de la part de l’assuré, sur la date, les circonstances ou les conséquences apparentes d'un événement garanti, celui-ci sera entièrement déchu de tout droit à indemnité.<br>
    <h5 class="title">2.312 - Autres obligations</h5>
    Il appartient également à l’assuré de :<br>
    - fournir tous éléments permettant la mise en cause de la responsabilité d'un tiers,<br>
    - transmettre sans délai toute communication relative à un événement garanti,<br>
    - se conformer aux instructions nécessaires à la conservation des intérêts du souscripteur et de la MAIF.<br>
    En cas de manquement de la part de l’assuré à ces obligations, le souscripteur et la MAIF sont fondés à lui réclamer - ou à retenir sur les sommes dues - l'indemnité correspondant au préjudice ainsi causé.<br>
    <h5 class="title">2.32 – Estimation des dommages</h5>
    L’assuré doit en cas de sinistre, justifier de :<br>
    - de la valeur des biens endommagés objet du contrat de location, par tous moyens en son pouvoir et tous documents en sa possession,<br>
    - l'importance des dommages.<br>
    En effet, les indications chiffrées, les valeurs déclarées fournies lors de la souscription ne sont pas considérées, comme preuve de leur valeur au moment du sinistre sauf dans l’hypothèse où le bien sinistré ou l’ensemble de biens sinistrés a fait l’objet d’une évaluation en valeur agréée.<br><br>

    <h5 class="title">2.4 - Evaluation des dommages et expertise</h5>
    Les dommages aux biens assurés au titre de la présente garantie sont évalués de gré à gré, éventuellement par une expertise amiable diligentée à l'initiative de la mutuelle, et financée par elle, sous réserve des droits respectifs des parties. Chaque partie supporte ses éventuels frais d’assistance à expertise.
    <br><br>
    <h5 class="title">2.5</h5> - Versement de l'indemnité L'indemnité est réglée dans les 15 jours qui suivent la date de l'accord des parties sur son montant, ou celle de la décision judiciaire exécutoire.
    <br><br>
    <h5 class="title">2.6 - Règlement des litiges</h5>
    <h5 class="title">2.61 - Litige sur les conclusions de l'expertise</h5>
    En cas de désaccord de l'assuré sur les conclusions de l'expert désigné par la mutuelle, le différend est soumis à un tiers expert.
    Ce tiers expert choisi par l’assuré sur une liste de trois experts proposés par la mutuelle est désigné d’un commun accord et ses conclusions s’imposent aux parties.
    Les honoraires du tiers expert sont supportés par moitié par chacune des parties.
    A défaut d’entente sur la mise en œuvre de la tierce expertise, la partie la plus diligente saisit le tribunal territorialement compétent aux fins de désignation d’un expert judiciaire.
    Les honoraires de l’expert judiciaire sont supportés par la partie qui prend l’initiative de sa désignation.
    Chaque partie supporte les frais et honoraires de son ou ses conseil(s) (avocat, expert).<br><br>
    <h5 class="title">2.62 - Autres litiges</h5>
    En cas de désaccord sur les conditions de mise en œuvre du contrat, et sous réserve du droit dont dispose toute partie intéressée d'intenter une action en justice, la résolution du différend peut être recherchée à travers une mesure d'arbitrage mise en œuvre selon les mêmes modalités que celles exposées à l'article 2.61, relatives à la désignation d'un tiers expert.<br><br>
    <h5 class="title">2.63 - Médiation</h5>
    La MAIF met à la disposition du souscripteur un dispositif de règlement des litiges qui garantit la transparence et le respect de ses droits. En cas de désaccord sur l’application de ce contrat, le responsable salarié ou le mandataire du conseil d'administration de la structure compétente en charge de la situation contractuelle ou du dossier sinistre de l'assuré se tient à la disposition de celui-ci pour l’écouter et rechercher une solution.<br>
    Si le litige persiste, l’assuré peut, après avoir ou non eu recours à la démarche exposée ci-avant, présenter une réclamation par lettre simple adressée à : MAIF Service Réclamations - CS 90000 - 79038
    Niort Cedex 9 ou par message électronique à : réclamation@maif.fr.
    Si après examen de la réclamation, le désaccord n’a toujours pas été résolu, l’assuré peut saisir le
    LA MEDIATION DE L’ASSURANCE – TSA 50110 – 75441 PARIS CEDEX 09 qui interviendra selon les modalités et dans les limites prévues par la Charte de la Médiation de l’Assurance (cette charte peut lui être adressée sur simple demande auprès du service Réclamation visé ci-dessus). En revanche, son avis ne lie pas l’assuré qui conserve la possibilité de saisir le tribunal compétent, si le désaccord persiste.
    <br><br>

    <h5 class="title">2.7 - Subrogation – recours de la mutuelle</h5>
    Conformément aux dispositions légales en vigueur, la mutuelle qui a payé l'indemnité d'assurance est subrogée jusqu'à concurrence de cette indemnité dans les droits et actions de l'assuré contre les tiers qui, par leur fait, ont causé le dommage ayant donné lieu au paiement.
    <br><br>


    <h5 class="title">Article 3 : Montants des garanties</h5>
    Les garanties sont accordées à concurrence des montants indiqués aux conditions particulières. Les montants de garantie précisés aux conditions particulières ne sont pas indexés. Ils forment la limite d’engagement de la mutuelle pour l’ensemble des dommages se rattachant à un même événement. Par événement, on entend le (ou les) dommage(s) ayant pour cause le même fait générateur.
    <br><br>

    <h5 class="title">Article 4 : Franchise</h5>
    Le souscripteur conserve à sa charge une part des dommages appelée franchise.
    <br>

    <h5 class="title">4.1</h5> - Pour tout événement accidentel atteignant les biens assurés, le montant des franchises est fixé soit contractuellement, soit par voie réglementaire. Les franchises sont précisées aux conditions particulières.
    <br>

    <h5 class="title">4.2</h5> - Sont concernés par la franchise réglementaire, les événements qualifiés de &quot;catastrophes naturelles&quot; par arrêté interministériel.
    <br><br>

    <h5 class="title">Article 5 : Territorialité</h5>
    Les garanties sont acquises en France métropolitaine.

    <br><br>
    <h5 class="title">III.2. La garantie</h5>
    <h5 class="title">Article 6 : Objet de la garantie</h5>
    <h5 class="title">6.1</h5> - La Mutuelle garantit les dommages de caractère accidentel atteignant tous types de matériels déclarés et objet de la présente police.

    <h5 class="title">6.2</h5> - Par accident, il faut entendre tout fait dommageable, non intentionnel de la part du souscripteur ou du bénéficiaire des garanties, normalement imprévisible et provenant de l'action soudaine d'une cause extérieure.

    <h5 class="title">6.3</h5> - Sont également garantis dans les conditions définies par l'annexe à l'article A 125-1 du Code des assurances relatif à la garantie contre les risques de catastrophes naturelles, les dommages ayant eu pour cause déterminante l'intensité anormale d'un agent naturel.

    <h5 class="title">6.4</h5> - La garantie est accordée à concurrence du montant maximum indiqué.
    <br><br>

    <h5 class="title">Article 7 : Modalités d'indemnisation</h5>
    <h5 class="title">7.1 - Pour les meubles meublants :</h5>
    <h5 class="title">7.11</h5> - ceux dont le coefficient de vétusté est inférieur à 1/3, sont garantis à concurrence de la valeur de remplacement des biens détruits ou endommagés, sous réserve de la justification par vos soins d'un remplacement effectif,
    <h5 class="title">7.12</h5> - à défaut, la garantie n'est accordée qu'à concurrence de la valeur de remplacement des biens détruits ou endommagés, vétusté déduite, dans la limite de leur valeur vénale au jour du sinistre,
    <h5 class="title">7.13</h5> - ceux dont le coefficient de vétusté est supérieur à 1/3, sont garantis à concurrence de la valeur de remplacement des biens détruits ou endommagés, vétusté déduite, dans la limite de leur valeur vénale au jour du sinistre.

    <h5 class="title">7.2</h5> - Pour les biens ci-après énumérés, la garantie est accordée à concurrence de la valeur résiduelle calculée par application à la valeur de remplacement au jour du sinistre d'un abattement forfaitaire par année d'âge ou fraction d'année, de :
    <h5 class="title">7.21</h5> - 5 % pour les machines-outils et le gros équipement (matériel lourd de cuisine, de blanchisserie et de laverie),
    <h5 class="title">7.22</h5> - 10 % pour les biens sensibles : appareils d'enregistrement et de reproduction de sons et/ou d'images, appareils de radio et de télévision, matériel micro-informatique, matériel de bureau, petit outillage électroportatif,
    <h5 class="title">7.23</h5> - 20 % par année d’âge ou fraction d’année pour les vêtements, le linge, les draps, les skis et les planches à voile de moins de 2 ans, après la 2ème année la vétusté supplémentaire est de 10% par année d’âge ou fraction d’année (exemple : bien ayant 2.5 ans d’âge : la vétusté est de 20 %, + 20 %, + 10 %).
    <h5 class="title">7.24</h5> - Pour les biens énumérés aux articles 7.21 et 7.22 on entend par valeur de remplacement, celle d'un bien de capacité et de rendement identiques ou équivalents. Les abattements qui sont appliqués à ces biens ne peuvent excéder 80 %. com

    <h5 class="title">7.3</h5> - Pour tous les autres biens meubles, la garantie est accordée à concurrence de leur valeur vénale au jour du sinistre.

    <h5 class="title">7.4 - Pour les immeubles :</h5>
    <h5 class="title">7.41</h5> - L’indemnité est calculée par ouvrage sinistré. On entend par ouvrage l’ensemble des travaux relevant d’un même corps de métier<br>
    - Les ouvrages dont le coefficient de vétusté est inférieur à 1/3 sont garantis à concurrence de leur valeur de reconstruction au jour du sinistre<br>
    - Ceux dont le coefficient de vétusté est supérieur à 1/3 sont garantis en valeur de reconstruction vétusté déduite,<br>
    <h5 class="title">7.42</h5> – Toutefois, l’indemnité globale tous ouvrages confondus, est plafonnée à la valeur vénale du bâtiment au jour du sinistre, dès lors qu’un des ouvrages portant sur la structure de l’immeuble est atteint d’un coefficient de vétusté supérieur à 1/3,<br>
    <h5 class="title">7.43</h5> – Le versement de l’indemnité en valeur de reconstruction est subordonné à la justification par vos soins soit d’une reconstitution effective, soit d’une impossibilité absolue de reconstruire. A défaut, c’est une indemnité en valeur de reconstruction vétusté déduite qui vous sera versée, dans la limite de la valeur vénale du bâtiment au jour du sinistre.<br>
    <h5 class="title">7.43</h5> – Le versement de l’indemnité en valeur de reconstruction est subordonné à la justification par vos soins soit d’une reconstitution effective, soit d’une impossibilité absolue de reconstruire. A défaut, c’est une indemnité en valeur de reconstruction vétusté déduite qui vous sera versée, dans la limite de la valeur vénale du bâtiment au jour du sinistre.<br><br>


    <h5 class="title">Article 8 : Exclusions communes à l’ensemble des garanties</h5>
    <h5 class="title">8.1 - Sont exclus de la garantie, les sinistres de toute nature :</h5>
    - provenant de guerre civile ou étrangère : aux termes de l’article L 121-8 du Code des assurances, l’assuré ou le bénéficiaire des garanties doit prouver que le sinistre résulte d’un fait autre que le fait de guerre étrangère ; il appartient à la mutuelle de prouver que le sinistre résulte de la guerre civile,
    Demeurent toutefois garantis les sinistres résultant d’actes de terrorisme, d’attentats, d’émeutes ou de mouvements populaires commis sur le territoire national.
    - résultant de la dessiccation et/ou de la réhydratation des sols, tremblements de terre, éruptions volcaniques, raz-de-marée et autres cataclysmes, exception faite des événements entrant dans le champ d’application de la loi n° 82-600 du 13 ju illet 1982 relative à l’indemnisation des victimes de catastrophes naturelles,
    - causés ou aggravés par des armes ou engins destinés à exploser par modification de structure du noyau de l’atome ou par tout combustible nucléaire, produit ou déchet radioactif, ou par toute autre source de rayonnement ionisant,
    - résultant de l’utilisation ou de la dissémination des organismes génétiquement modifiés visés par la loi n° 92-654 du 13 juillet 1992 et les text es pris pour son application.

    <h5 class="title">8.2</h5> - Les dommages de toute nature causés par l’amiante.

    <h5 class="title">8.3</h5> - Les dommages résultant d’un acte intentionnel ou d’une faute dolosive perpétrée soit à l’initiative de l’assuré ou de ses représentants légaux ou substitués, soit avec leur complicité.

    <h5 class="title">8.4</h5> - Les amendes, assimilées ou non à des réparations civiles.

    <h5 class="title">8.5</h5> - Les biens immobiliers édifiés en infraction du Plan de prévention des risques naturels conformément aux dispositions légales en vigueur,

    <h5 class="title">8.6</h5> - Les dommages causés aux et par tous engins aériens ou véhicules aériens, hormis les parachutes et les parapentes, dont le souscripteur ou l’assuré a la propriété, l’usage ou la garde.

    <h5 class="title">8.7</h5> - Les sinistres de toute nature découlant de la propriété ou de l’usage des véhicules terrestres à moteur et remorques, assujettis à l’obligation d’assurance.<br><br>

    <h5 class="title">Sont exclus de la garantie Dommages aux Biens :</h5>
    <h5 class="title">8.8</h5> - les espèces, titres et valeurs, les animaux, les végétaux,
    Demeurent toutefois garantis :
    - les végétaux ayant fait l’objet d’un conditionnement ainsi que les végétaux en pot destinés à la vente en l’état<br>
    - les espèces, titres et valeurs détenus au titre des activités de la collectivité assurée.<br><br>

    <h5 class="title">8.9</h5> – Les expositions se déroulant à l’extérieur des locaux (sur la voie publique ou sur un terrain privé)<br><br>

    <h5 class="title">8.10</h5> - les dommages et préjudices résultant d’un vol ou d’une perte<br><br>

    <h5 class="title">8.11</h5> - les dommages résultant de la seule vétusté ou d’un défaut d’entretien incombant et connu du souscripteur<br><br>

    <h5 class="title">8.12</h5> - les dommages causés par les insectes et parasites, par les micro-organismes, par les rongeurs et autres nuisibles, par les animaux sauvages même apprivoisés ou domestiqués<br><br>

    <h5 class="title">8.13</h5> – Sauf en cas de force majeure, les dommages causés par le gel, notamment aux installations d’eau et de chauffage, ainsi que tous dommages consécutifs à des variations de température d’origine climatique affectant les immeubles et leurs équipements. Demeurent toutefois garantis, les dommages provoqués par l’eau, notamment à l’occasion du dégel.<br><br>

    <h5 class="title">8.14</h5> - sauf en cas d’événement garanti, les coûts de fournitures d’eau, d’électricité, gaz, téléphone et services télématiques même excessifs<br><br>

    <h5 class="title">8.15</h5> - les dommages résultant de virus ou tout autre programme parasite destiné à provoquer des pertes, altération de données ou dysfonctionnement de systèmes informatiques<br><br>

    <h5 class="title">8.16</h5> - le coût de reconstitution des données informatiques.<br><br>

    <h5 class="title">8.17</h5> - les dommages, y compris le vol, occasionnés aux lunettes de vue (verres et monture) et/ou aux lentilles cornéennes, et/ou aux prothèses dentaires et auditives.<br><br>

    <h5 class="title">8.18</h5> – tous préjudices découlant d’un défaut ou insuffisance de performance du bien.<br><br>

    <h5 class="title">8.19</h5> – les frais de nettoyage du bien.<br><br>

    <h5 class="title">8.20</h5> – la responsabilité civile liée à l’utilisation du vélo.<br><br>

    <h5 class="title">Article 9 : vos obligations en cas de vol</h5>
    Dans tous les cas, l’assuré est tenu d’informer immédiatement du vol, les autorités locales de police, le versement de l’indemnité par la mutuelle étant subordonné à la présentation d’un récépissé de la déclaration de vol aux autorités.<br>
    En cas de récupération des objets volés par les autorités, vous êtes tenu d’informer la mutuelle sans délai.<br>
    Lorsque les objets sont retrouvés dans les 30 jours qui suivent la déclaration de sinistre, l’assuré a l’obligation de reprendre possession des objets dérobés et de restituer à la mutuelle l’indemnité éventuellement perçue, déduction faite des frais de récupération et de remise en état.<br>
    Lorsqu’ils sont retrouvés après expiration du délai de 30 jours, l’assuré a la possibilité, soit de reprendre les objets et de reverser l’indemnité dans les conditions indiquées ci-dessus, soit de conserver l’indemnité et d’abandonner les objets à la mutuelle qui en devient propriétaire.<br><br>

    <h5 class="title">III.3. Les textes légaux et réglementaires</h5>

    <h5 class="title">Article L 113-3 du Code des assurances</h5>
    La prime est payable au domicile de l'assureur ou du mandataire désigné par lui à cet effet. Toutefois, la prime peut être payable au domicile de l'assuré ou à tout autre lieu convenu dans les cas et conditions limitativement fixés par décret en Conseil d'Etat.<br>
    A défaut de paiement d'une prime, ou d'une fraction de prime, dans les dix jours de son échéance, et indépendamment du droit pour l'assureur de poursuivre l'exécution du contrat en justice, la garantie ne peut être suspendue que trente jours après la mise en demeure de l'assuré. Au cas où la prime annuelle a été fractionnée, la suspension de la garantie, intervenue en cas de non-paiement d'une des fractions de prime, produit ses effets jusqu'à l'expiration de la période annuelle considérée. La prime ou fraction de prime est portable dans tous les cas, après la mise en demeure de l'assuré.<br>
    L'assureur a le droit de résilier le contrat dix jours après l'expiration du délai de trente jours mentionné au deuxième alinéa du présent article.<br>
    Le contrat non résilié reprend pour l'avenir ses effets, à midi le lendemain du jour où ont été payés à l'assureur ou au mandataire désigné par lui à cet effet, la prime arriérée ou, en cas de fractionnement de la prime annuelle, les fractions de prime ayant fait l'objet de la mise en demeure et celles venues à échéance pendant la période de suspension ainsi que, éventuellement, les frais de poursuites et de recouvrement.<br><br>

    <h5 class="title">Article L 113-14 du Code des assurances</h5>
    Dans tous les cas où l’assuré a la faculté de demander la résiliation, il peut le faire à son choix, soit par une déclaration faite contre récépissé au siège social ou chez le représentant de l’assureur dans la localité, soit par acte extrajudiciaire, soit par lettre recommandée, soit par tout autre moyen indiqué dans la police.<br><br>

    <h5 class="title">Article L 114-1 du Code des assurances</h5>
    Toutes actions dérivant d’un contrat d’assurance sont prescrites par deux ans à compter de l’événement qui y donne naissance.<br>

    Toutefois, ce délai ne court :<br>
    1°/ en cas de réticence, omission, déclaration fausse ou inexacte sur le risque couru, que du jour où l’assureur en a eu connaissance<br>
    2°/ en cas de sinistre, que du jour où les intéressés en ont eu connaissance, s’ils prouvent qu’ils l’ont ignoré jusque-là<br>

    Quand l’action de l’assuré contre l’assureur a pour cause le recours d’un tiers, le délai de prescription ne court que du jour où ce tiers a exercé une action en justice contre l’assuré ou a été indemnisé par ce dernier.<br>
    La prescription est portée à dix ans dans les contrats d’assurance sur la vie lorsque le bénéficiaire est une personne distincte du souscripteur et, dans les contrats d’assurance contre les accidents atteignant les personnes, lorsque les bénéficiaires sont les ayants droit de l’assuré décédé.<br>
    Pour les contrats d’assurance sur la vie, nonobstant les dispositions du 2°/, les actions du bénéficia ire sont prescrites au plus tard trente ans à compter du décès de l’assuré.<br><br>

    <h5 class="title">Article L 114-2 du Code des assurances</h5>
    La prescription est interrompue par une des causes ordinaires d’interruption de la prescription et par la désignation d’experts à la suite d’un sinistre. L’interruption de prescription de l’action peut, en outre, résulter de l’envoi d’une lettre recommandée avec accusé de réception adressée par l’assureur à l’assuré en ce qui concerne le règlement de l’indemnité.

    <hr>
    <strong><p class="text-center">*** Fin des Conditions de l'assurance ***</p></strong>
    <hr>

</div>

<div class="container">
    <h6>Mentions légales</h6>
    <p>Ce site Internet est développé et géré par la société Bikerr SASU (Société par Actions Simplifiées unipersonnelle). Ce site Internet et tout son contenu et les &quot;Points&quot; sont la propriété de Bikerr SASU, dont les bureaux sont situés au 141 A rue de Bâle, 67100 Strasbourg, France.</p>
    <p>SIRET: TI 818 919 094 R.C.S. STRASBOURG</p>
    <p>N° TVA CEE : FR 76 818919094</p>
    <br>
    <p>En vous connectant sur <a href="bikerr.fr">www.bikerr.fr</a> vous acceptez les Conditions Générales d'Utilisation. En acceptant nos Conditions Générales d'Utilisation, vous reconnaissez avoir lu et compris ces dernières. Les Conditions Générales d'Utilisations sont applicables dès lors que l'internaute les a acceptées en s'inscrivant. Pour nous contacter, vous pouvez nous envoyer un mail à <a href="mailto:contact@bikerr.fr">contact@bikerr.fr</a></p>
</div>

{% endblock %}