{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/homepage.css') }}">
    <link rel="stylesheet" href="{{ asset('build/cgu.css') }}">
{% endblock %}

{% block body %}
    <div class="bikerr_container"></div>

    <nav class="justify-content-center h-75 navbar navbar-expand-lg navbar-light bg-dark text-light">
        <a class="mr-5" href="{{ path('conditions_generales') }}">1.Conditions générales</a>
        <a class="mr-5" href="{{ path('utilisation_service') }}">2.Utilisation du service</a>
        <a class="mr-5" href="{{ path('condition_assurance')}}">3.Conditions de l'assurance</a>
        <a class="mr-5" href="{{ path('confidentialite') }}">4.Confidentialité</a>
        <a class="mr-5" href="{{ path('ecomobilite') }}">5.Securité</a>
        <a class="mr-5" href="{{ path('cookies') }}">6.Cookies</a>
    </nav>

<div class="container mt-5">

    <h2 class="text-center mt-5">IV. Politique de confidentialité</h2>
    <h5 class="text-center">Dernière Mise à jour : 28 juin 2018</h5>
    <hr class="mt-5 mb-5">
    <strong><p>VEUILLEZ LIRE ATTENTIVEMENT LES CONDITIONS GÉNÉRALES D’UTILISATION DU SITE BIKERR.FR CAR ELLES CONTIENNENT DES INFORMATIONS IMPORTANTES CONCERNANT VOS DROITS, RECOURS ET OBLIGATIONS.</p>
        <p>LES PRESENTES CONDITIONS GENERALES D’UTILISATION S'APPLIQUENT AUX SERVICES PROPOSES PAR LE SITE BIKERR.FR.</p>
        <p>LE SERVICE DE PARTAGE DE VELOS EST EDITE PAR BIKERR SASU – AU CAPITAL DE 1000,00 € – R.C.S. STRASBOURG TI 818 919 094 – AYANT SON SIEGE SOCIAL, 141 A RUE DE BALE, 67100 STRASBOURG.</p>
        <p>L'HEBERGEMENT DU SITE EST ASSURE PAR LA SOCIETE OVH.</p></strong>
    <hr class="mt-5 mb-5">

    <h5>IV.1. TRANSMISSION DE VOS DONNEES PERSONNELLES A DES TIERS</h5>
    <p>Bikerr SASU se réserve le droit de transmettre tout ou partie des données personnelles concernant les Membres dans le strict respect de la norme simplifiée n°48 et de la loi « Informatique et Libertés » du 6 Août 2004.
        Tout usage de données personnelles autre que celui indiqué ci-dessus devra faire l'objet d'un consentement individuel, préalable et explicite de la part des Membres.
        Conformément à la loi n°78-17 du 6 janvier 1978, Bikerr SASU recueillera l'accord des Membres pour toute transmission de ses données à des partenaires commerciaux pour des opérations de marketing direct au moyen d'une case à cocher.</p>

    <h5>DROIT D'ACCES, DE RECTIFICATION ET D'OPPOSITION</h5>
    <p>Conformément à la loi n°78-17 du 6 janvier 1978, vous disposez d'un droit d'accès et de rectification sur les données personnelles vous concernant, en vous adressant au responsable du Site, sauf pour les données personnelles que vous avez données à Bikerr SASU lorsque vous avez rempli votre formulaire d'adhésion en ligne et qu'il vous appartient seul de modifier et de mettre à jour.</p>
    <p>Conformément à la loi n°78-17 du 6 janvier 1978, vous disposez du droit de vous opposer sans frais et gratuitement, à ce que les données personnelles vous concernant soient utilisées à des fins de prospection, notamment commerciale, par Bikerr SASU ou par ses partenaires commerciaux. Si votre droit d'opposition est exercé pour ce motif directement auprès de Bikerr SASU, cette dernière s'engage à répercuter votre opposition auprès de ses partenaires contractuels auxquels elle aurait éventuellement transmis vos données personnelles.</p>
    <p>Conformément à la loi n°78-17 du 6 janvier 1978, Bikerr SASU s'engage à ce que les données personnelles vous concernant, même celles transmises à d'éventuels partenaires commerciaux, ne soient pas transmises hors de l'Union Européenne, sauf à recueillir au préalable votre consentement exprès en ce sens.</p>
    <p>Conformément à la loi n°78-17 du 6 janvier 1978, Bikerr SASU se réserve le droit de transmettre les données personnelles vous concernant, soit pour respecter une obligation légale, soit en application d'une décision judiciaire, administrative, ou d'une autorité administrative indépendante (comme par exemple la Commission Nationale de l'Informatique et des Libertés).</p>

    <h5>IV.3. MISE A JOUR DES DONNEES PERSONNELLES</h5>
    <p>Vous vous engagez à assurer, en tant que de besoin, la Mise à jour des données personnelles vous concernant. Vous vous engagez en outre à ce que les données personnelles vous concernant soient exactes, complètes et non équivoques. Vous pouvez à tout moment accéder, en utilisant sur le Site votre mot de passe et votre login, à votre Compte Utilisateur contenant l'ensemble des données personnelles que vous avez fournies à Bikerr SASU.</p>

    <h5>IV.4. SECURITE DES DONNEES PERSONNELLES</h5>
    <p>Conformément à la loi n°78-17 du 6 janvier 1978, Bikerr SASU s'engage à prendre toute précaution utile, au regard de la nature des données et des risques présentés par le traitement, pour préserver la sécurité des données personnelles vous concernant et, notamment, empêcher que vos données personnelles ne soient déformées, endommagées, ou que des tiers non autorisés y aient accès.</p>

    <h5>IV.5. HEBERGEMENT DU SITE</h5>
    <p>L'hébergeur du Site agit en qualité de sous-traitant de Bikerr SASU, au sens de la loi n°78-17 du 6 janvier 1978, seulement sur instruction écrite de Bikerr SASU, et ne dispose pas du droit d'utiliser les données personnelles des Utilisateurs auxquelles il est susceptible d'avoir accès, sauf aux fins d'exécution des prestations techniques d'hébergement et de gestion des bases de données et seulement dans les conditions contractuelles signées entre l'hébergeur et Bikerr SASU qui ne peuvent déroger au présent article.</p>

    <h5>IV.6. PROPRIETE INTELLECTUELLE</h5>
    <p>Le Site Bikerr.fr est la propriété de Bikerr SASU. Toute reproduction même partielle est subordonnée à l'autorisation préalable et écrite de Bikerr SASU. Tout lien hypertexte dirigé vers une autre page que la page d'accueil du Site est soumis à l'autorisation préalable et écrite de Bikerr SASU.
        Le visiteur du Site s'engage à ne reproduire aucun des éléments du Site. Toute utilisation contraire de tout ou partie du Site ou de l'un quelconque de ses éléments constituerait une contrefaçon susceptible d'entraîner des poursuites civiles et/ou pénales et d'exposer le visiteur contrevenant aux peines rappelées.</p>

    <h5>IV.7. CONTENU DU SITE SAISI PAR LES MEMBRES</h5>
    <p>Bikerr SASU n'est pas responsable du contenu saisi sur le Site par les Membres. Cependant dès qu'il aura été porté à la connaissance de Bikerr SASU qu'un contenu porterait atteinte aux droits de tiers, Bikerr SASU fera tout son possible pour supprimer sans délai du Site le contenu litigieux.</p>

    <h5>IV.8. SITES PARTENAIRES</h5>
    <p>En acceptant les présentes CGU, vous acceptez que les informations fournies au moment de l'inscription soient publiées sur le Site de partage de vélo bikerr.fr de Bikerr SASU.
        Bikerr SASU se réserve le droit de reproduire toute information figurant sur le Site ou sur des Sites partenaires.
        En particulier, les Annonces publiées sur l'un des Sites édités ou co-édités par Bikerr SASU peuvent être reproduites sur d'autres Sites édités ou co-édités par Bikerr SASU ou des tiers.</p>

    
    <hr>
    <strong><p class="text-center">*** Fin de la politique de confidentialité ***</p></strong>
    <hr>

</div>

    <div class="container">
        <h6>Mentions légales</h6>
        <p>Ce site Internet est développé par les élèves de la Wild Code School Strasbourg et est géré par la société Bikerr SASU (Société par Actions Simplifiées unipersonnelle). Ce site Internet et tout son contenu et les &quot;Points&quot; sont la propriété de Bikerr SASU, dont les bureaux sont situés au 141 A rue de Bâle, 67100 Strasbourg, France.</p>
        <p>SIRET: TI 818 919 094 R.C.S. STRASBOURG</p>
        <p>N° TVA CEE : FR 76 818919094</p>
        <br>
        <p>En vous connectant sur <a href="bikerr.fr">www.bikerr.fr</a> vous acceptez les Conditions Générales d'Utilisation. En acceptant nos Conditions Générales d'Utilisation, vous reconnaissez avoir lu et compris ces dernières. Les Conditions Générales d'Utilisations sont applicables dès lors que l'internaute les a acceptées en s'inscrivant. Pour nous contacter, vous pouvez nous envoyer un mail à <a href="mailto:contact@bikerr.fr">contact@bikerr.fr</a></p>
    </div>
{% endblock %}