{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/homepage.css') }}">
    <link rel="stylesheet" href="{{ asset('build/cgu.css') }}">
{% endblock %}

{% block body %}
    <div class="bikerr_container"></div>

    <nav class="justify-content-center h-75 navbar navbar-expand-lg navbar-light bg-dark text-light">
        <a class="mr-5" href="{{ path('conditions_generales') }}">1.Conditions générales</a>
        <a class="mr-5" href="{{ path('utilisation_service') }}">2.Utilisation du service</a>
        <a class="mr-5" href="{{ path('condition_assurance')}}">3.Conditions de l'assurance</a>
        <a class="mr-5" href="{{ path('confidentialite') }}">4.Confidentialité</a>
        <a class="mr-5" href="{{ path('ecomobilite') }}">5.Securité</a>
        <a class="mr-5" href="{{ path('cookies') }}">6.Cookies</a>
    </nav>

<div class="container mt-5">

    <h2 class="text-center mt-5">V. Conditions de sécurité et promotion de l’éco-mobilité</h2>
    <h5 class="text-center">Dernière Mise à jour : 28 juin 2018</h5>
    <hr class="mt-5 mb-5">
    <strong><p>VEUILLEZ LIRE ATTENTIVEMENT LES CONDITIONS GÉNÉRALES D’UTILISATION DU SITE BIKERR.FR CAR ELLES CONTIENNENT DES INFORMATIONS IMPORTANTES CONCERNANT VOS DROITS, RECOURS ET OBLIGATIONS.</p>
        <p>LES PRESENTES CONDITIONS GENERALES D’UTILISATION S'APPLIQUENT AUX SERVICES PROPOSES PAR LE SITE BIKERR.FR.</p>
        <p>LE SERVICE DE PARTAGE DE VELOS EST EDITE PAR BIKERR SASU – AU CAPITAL DE 1000,00 € – R.C.S. STRASBOURG TI 818 919 094 – AYANT SON SIEGE SOCIAL, 141 A RUE DE BALE, 67100 STRASBOURG.</p>
        <p>L'HEBERGEMENT DU SITE EST ASSURE PAR LA SOCIETE OVH.</p></strong>
    <hr class="mt-5 mb-5">
    <p>Bikerr SASU entend faire la promotion de l'éco-mobilité par un engagement citoyen en faveur de la modération de la circulation automobile et en assurant la promotion de l'indemnité kilométrique des salariés.</p>
    <p>Bikerr SASU entend devenir un acteur majeur de la lutte contre le vol et le recel de vélo et développer les bons comportements en matière de déplacement à vélo en incitant notamment les Propriétaires à marquer leur vélo, à s’équiper d’antivol de qualité, à porter et faire porter un gilet fluo et à porter et faire porter un casque.</p><br><br>

    <h5>V.1. LE MARQUAGE BICYCODE® DU VELO</h5>
    <p>Bikerr SASU encourage les Propriétaires à faire graver le cadre de leur vélo en utilisant le marquage BICYCODE® pour permettre ainsi la restitution des vélos volés à leurs propriétaires par les services de police/gendarmerie compétents et de lutter ainsi contre le recel et la revente illicite.
        BICYCODE® est le seul dispositif reconnu par l'Etat pour la lutte contre le vol et le recel de vélos. Il est soutenu par le Ministère de l'Environnement et par le Ministère de l’Intérieur.
        Le marquage BICYCODE® est reconnaissable grâce à l'autocollant anti-corrosion bleu qui protège le cadre et met en valeur le numéro BICYCODE®, il est généralement situé en haut du tube recevant la selle, côté pédalier.
        La liste des opérateurs de marquage répartis sur tout le territoire français est accessible sur le Site.</p>

    <h5>V.2. LE CHOIX DE L'ANTIVOL</h5>
    <p>Bikerr SASU encourage les Propriétaires à s’équiper d'au moins un antivol en U parce que même un mauvais U vaudra toujours mieux qu’un bon câble. C’est pourquoi Bikerr SASU aidera progressivement ses Utilisateurs à faire le bon choix en matière d’antivol en privilégiant des antivols classés au minimum :</p>
    <ul>
        <li>2 ❂❂ (2 roues), dans les tests d'antivols FUB en France</li>
        <li>Ou ** dans les tests ART aux Pays Bas</li>
        <li>Ou Gold dans les tests Sold Secure en Grande-Bretagne.</li>
    </ul>

    <h5>V.3. LE PORT DU GILET ET DU CASQUE</h5>
    <p>Bikerr SASU encourage les Propriétaires à proposer un gilet fluo lors de la mise à disposition du vélo et les Utilisateurs à posséder un casque. Néanmoins, Bikerr SASU souhaite laisser aux Utilisateurs le soin de veiller à leur sécurité́ par une vigilance active et de choisir librement de porter ou non un casque.</p>

    <h5>V.4. DROIT APPLICABLE – ATTRIBUTION DE COMPETENCE</h5>
    <p>Les CGU sont régies par la législation française, sauf dispositions d'ordre public relatives à la protection du consommateur dans le pays de résidence d’un Membre.
        En cas de différend relatif à l'interprétation et/ou à l'exécution des présentes CGU, le Membre et Bikerr SASU rechercheront – avant toute action contentieuse – un accord amiable et se communiqueront à cet effet tous les éléments d'information nécessaires.
        Si un accord amiable entre le Membre et Bikerr SASU ne peut être trouvé, le Membre a la possibilité de saisir, dans un délai inférieur à un an, gratuitement, par courrier simple ou par email, un Médiateur de la consommation, qui trouvera une solution dans un délai de 90 jours.
        En application de l’article L152-1 du code de la consommation, Bikerr SASU informe le Membre qu’il a la possibilité de saisir l’un des Médiateurs de la consommation dont il relève.
        Au titre d’un règlement des litiges extrajudiciaire, le Membre a également la possibilité de saisir la plateforme de règlement des litiges en ligne en cliquant sur le lien électronique suivant:
        <a href="https://webgate.ec.europa.eu/odr/main/index.cfm?event=main.home.show&lng=FR">https://webgate.ec.europa.eu/odr/main/index.cfm?event=main.home.show&lng=FR</a></p>
    <p>Dans l’hypothèse où aucun accord amiable ne peut être trouvé et où l’éventuelle médiation aurait échoué, tout différend qui pourrait naitre à l'occasion de la validité, de l’interprétation ou de l’exécution des CGU et/ou du service en cause sera soumis au choix du demandeur aux tribunaux :</p>
    <ul>
        <li>du lieu où demeure le défendeur</li>
        <li>du lieu de l'exécution de la prestation de services</li>
    </ul>
    <p>En application de l’article L.141-5 du code de la consommation, le Membre pourra également saisir outre l'une des juridictions susvisées, la juridiction du lieu où il demeurait au moment de la conclusion du contrat ou de la survenance du fait dommageable.
        Cette clause s'applique même en cas de référé, de demande incidente ou de pluralité de défendeurs ou d'appel en garantie, et quels que soient le mode et les modalités de paiement.</p>

    <h5>V.5. PRESCRIPTION</h5>
    <p>Toutes réclamations contre la société Bikerr SASU avec les présentes se prescrit dans un délai d'un an. Il est irréfragablement présumé que le Propriétaire ou l’Utilisateur renonce à un paiement qui n'aura pas été demandé dans un délai d'un an. Les sommes non réclamées sont acquises à Bikerr SASU.</p>

    <h5>V.6. CESSION</h5>
    <p>Bikerr SASU se réserve le droit de céder les présentes CGU de manière automatique après notification conformément à la clause ci-après.</p>

    <h5>V.7. NOTIFICATION</h5>
    <p>A l'exception des notifications relatives aux contenus illégaux ou contrevenants, les notifications des Membres doivent être adressées par courrier recommandé à Bikerr SASU – 141 A, rue de Bâle – 67100 Strasbourg France, ou par e-mail à l'adresse contact@bikerr.fr
        Toute notification destinée à un Membre sera envoyée par e-mail à l'adresse communiquée à la Société lors de l’inscription du Membre et sera réputée lui être parvenue 24 heures après l'envoi de l'e-mail, sauf si l'expéditeur se voit notifier l'invalidité de l'adresse e-mail.</p>

    <h5>V.8. DISPOSITIONS FINALES</h5>
    <p>Le Membre reconnaît et accepte que les informations délivrées par la Société par courrier électronique et sur le Site font foi entre les parties et reçoivent la même force probante qu’un écrit manuscrit ; Toutes les données reprises de façon inaltérable, fiable, et sécurisée dans la base de données informatiques de la Société relatives notamment aux ordres et confirmations reçues du Membre, aux notifications envoyées, aux accès, retraits, remboursements feront foi entre les parties jusqu’à preuve du contraire.</p>

    <hr>
    <strong><p class="text-center">*** Fin de conditions de sécurité et promotion de l’éco-mobilité ***</p></strong>
    <hr>

</div>

    <div class="container">
        <h6>Mentions légales</h6>
        <p>Ce site Internet est développé et géré par la société Bikerr SASU (Société par Actions Simplifiées unipersonnelle). Ce site Internet et tout son contenu et les &quot;Points&quot; sont la propriété de Bikerr SASU, dont les bureaux sont situés au 141 A rue de Bâle, 67100 Strasbourg, France.</p>
        <p>SIRET: TI 818 919 094 R.C.S. STRASBOURG</p>
        <p>N° TVA CEE : FR 76 818919094</p>
        <br>
        <p>En vous connectant sur <a href="bikerr.fr">www.bikerr.fr</a> vous acceptez les Conditions Générales d'Utilisation. En acceptant nos Conditions Générales d'Utilisation, vous reconnaissez avoir lu et compris ces dernières. Les Conditions Générales d'Utilisations sont applicables dès lors que l'internaute les a acceptées en s'inscrivant. Pour nous contacter, vous pouvez nous envoyer un mail à <a href="mailto:contact@bikerr.fr">contact@bikerr.fr</a></p>
    </div>
{% endblock %}