{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/homepage.css') }}">
    <link rel="stylesheet" href="{{ asset('build/cgu.css') }}">
{% endblock %}

{% block body %}
    <div class="bikerr_container"></div>

    <nav class="justify-content-center h-75 navbar navbar-expand-lg navbar-light bg-dark text-light">
        <a class="mr-5" href="{{ path('conditions_generales') }}">1.Conditions générales</a>
        <a class="mr-5" href="{{ path('utilisation_service') }}">2.Utilisation du service</a>
        <a class="mr-5" href="{{ path('condition_assurance')}}">3.Conditions de l'assurance</a>
        <a class="mr-5" href="{{ path('confidentialite') }}">4.Confidentialité</a>
        <a class="mr-5" href="{{ path('ecomobilite') }}">5.Securité</a>
        <a class="mr-5" href="{{ path('cookies') }}">6.Cookies</a>
    </nav>

<div class="container mt-5">
    <h2 class="text-center mt-5">I. Conditions générales d’utilisation du site Bikerr.fr</h2>
    <h5 class="text-center">Dernière Mise à jour : 28 juin 2018</h5>
    <hr class="mt-5 mb-5">
    <strong><p>VEUILLEZ LIRE ATTENTIVEMENT LES CONDITIONS GÉNÉRALES D’UTILISATION DU SITE BIKERR.FR CAR ELLES CONTIENNENT DES INFORMATIONS IMPORTANTES CONCERNANT VOS DROITS, RECOURS ET OBLIGATIONS.</p>
    <p>LES PRESENTES CONDITIONS GENERALES D’UTILISATION S'APPLIQUENT AUX SERVICES PROPOSES PAR LE SITE BIKERR.FR.</p>
    <p>LE SERVICE DE PARTAGE DE VELOS EST EDITE PAR BIKERR SASU – AU CAPITAL DE 1000,00 € – R.C.S. STRASBOURG TI 818 919 094 – AYANT SON SIEGE SOCIAL, 141 A RUE DE BALE, 67100 STRASBOURG.</p>
    <p>L'HEBERGEMENT DU SITE EST ASSURE PAR LA SOCIETE OVH.</p></strong>
    <hr class="mt-5 mb-5">
    <p>Bikerr SASU développe une solution de partage de vélo accessible via son site www.bikerr.fr afin d’assurer un service de courtage entre des Membres qui souhaitent partager le(s) vélo(s) dont ils sont propriétaires ou dont ils ont la charge avec des Utilisateurs qui souhaitent accéder à un vélo pour une période déterminée.</p>
    <p>Lorsque vous utilisez le Site vous acceptez de vous conformer et d'être lié par les dispositions des présentes Conditions Générales, des Conditions de l’assurance et des modalités de paiement du service Mangopay. Les présentes Conditions régissent votre accès au Site et au contenu et à son utilisation ; elles constituent une convention ayant force obligatoire entre vous et la société Bikerr SASU.</p>
    <p>Si vous n'acceptez pas les présentes Conditions, vous n'avez pas le droit d'obtenir des informations ni de continuer à utiliser le Site ou les Services. L'utilisation du Site ou des Services en violation des présentes Conditions est passible de sanctions civiles et pénales. Le Site et les services proposés sont une plateforme en ligne sur laquelle les Propriétaires peuvent créer des Annonces pour donner accès à des vélos que les Utilisateurs peuvent consulter pour obtenir des informations ou louer lesdits vélos directement auprès des Propriétaires.</p>
    <p>Bikerr SASU n’exerce aucun contrôle concernant le comportement des Propriétaires, des cyclistes et autres Utilisateurs du Site ou des services. Bikerr SASU exclut toute responsabilité à ce titre dans les limites autorisées par la loi.</p>
    <p>En cas de non respect de votre part de tout ou partie des CGU, vous reconnaissez et acceptez que Bikerr SASU peut à tout moment, sans notification préalable, interrompre ou suspendre, de manière temporaire ou définitive, tout ou partie du Service ou votre accès au Site (y compris notamment votre Compte Utilisateur) en cas de non-respect des CGU ou pour toute raison objective.</p>
    <strong><p class="text-center">VOUS COMPRENEZ ET ACCEPTEZ QUE BIKERR SASU NE SOIT PARTIE À AUCUN ACCORD PASSÉ ENTRE LES PROPRIÉTAIRES ET LES UTILISATEURS, ET QUE LA PLATEFORME N'A PAS LA QUALITÉ D’ASSUREUR.</p></strong>
    <hr class="mt-5 mb-5">
    <strong>I. SUR LES CONDITIONS GÉNÉRALES D'UTILISATION</strong><br><br>
    <strong>I.1. TERMES CLES</strong><br><br>
    <strong>01. BIKERR SASU: </strong><p>désigne le Site ainsi que la société du même nom. Il désigne également par extension les Membres de la communauté – Propriétaire, Utilisateur ou professionnel – inscrit sur le site www.bikerr.fr.</p>
    <strong>02. SOCIETE: </strong><p>désigne Bikerr SASU, la société éditant les services de Partage de vélos sur le site www.bikerr.fr.</p>
    <strong>03. SITE: </strong><p>désigne sans distinction le Site www.Bikerr.fr et plus généralement tout Site internet ou application mobile édité par Bikerr SASU.</p>
    <strong>04. ANNONCE OU ANNONCE DE PARTAGE DE VELO: </strong><p>désigne un vélo partagé par un Propriétaire par le biais du Site.</p>
    <strong>05. DEPOT DE GARANTIE: </strong><p>désigne le service de dépôt de garantie proposé par Bikerr sur le Site et permettant à un Propriétaire de vélo de demander à un Utilisateur avec lequel il a conclu un contrat de Partage de son Vélo, une garantie en cas de dégradation/vol ou perte du bien mis à sa disposition et/ou des équipements associés.</p>
    <strong>06. CGU: </strong><p>désigne les présentes Conditions Générales d'Utilisation.</p>
    <strong>07. COMPTE UTILISATEUR: </strong><p>désigne le compte qui doit être créé pour pouvoir devenir Membre et accéder aux services proposés par le Site.</p>
    <strong>08. PARTAGE: </strong><p>désigne la convention de prêt du cycle à titre gratuit par un Propriétaire à un Utilisateur. Pour simplifier la lecture des CGU, chaque opération de prêt sera désignée par le terme « Partage ».</p>
    <strong>09. POINTS: </strong><p>désignent les Points cumulés par les Propriétaires principalement à l’occasion du Partage de leur Vélo.</p>
    <strong>10. CONTENU: </strong><p>désigne tout(e) texte, graphique, image, musique, logiciel à l'exception de l'Application, audio, vidéo, information ou autres éléments.</p>
    <strong>11. CONTENU DE BIKERR.FR: </strong><p>désigne tout Contenu que Bikerr SASU propose par le biais du Site, y compris tout contenu obtenu sous licence auprès d'un tiers.</p>
    <strong>12. CONTENU DES MEMBRES: </strong><p>désigne tout contenu que les Membres postent, téléchargent, publient, soumettent, transmettent, ou incluent dans leur Annonce ou profil de Membre afin de le rendre accessible sur le Site.</p>
    <strong>13. PERIODE DE PARTAGE (PDP): </strong><p>désigne la Période qui commence au moment où un Utilisateur valide une Annonce de Partage et au cours de laquelle le Propriétaire en question s’engage à rendre son vélo accessible durant la Période proposée dans ladite Annonce.</p>
    <strong>14. PERIODE DE MISE A DISPOSITION: </strong><p>désigne la Période globale proposée par le Propriétaire dans l’Annonce pendant laquelle il met son vélo à disposition en s’engageant à rendre son vélo accessible pour tout Partage qui surviendrait pendant l’intervalle de temps proposé.</p>
    <strong>15. MEMBRE: </strong><p>désigne toute personne qui s’inscrit sur le Site et qui, pour ce faire, accepte les présentes CGU. Le Membre a accès aux annonces publiées sur le Site et peut consulter lesdites annonces. Il peut également être relancé sur le calendrier des mises à disposition du vélo ou des vélos qu’il propose. Le Membre est soumis à un certain nombre d’obligations et d’interdictions répertoriées ci-après dans les présentes CGU. Le Membre s’engage à utiliser le Site en tant que Propriétaire ou en tant qu’Utilisateur, tel que ces deux termes sont définis ci-dessus.</p>
    <strong>16. UTILISATEUR: </strong><p>désigne tout Membre qui décide de souscrire un contrat de Partage avec un Propriétaire et de profiter du cycle partagé par ce dernier. L’Utilisateur conclut de ce fait avec Biker SASU un contrat de courtage prévoyant des services forfaitaires et se voit, en outre, proposer un certain nombre de services facultatifs et payants. L’Utilisateur a accès au service de Partage et aux informations lui permettant de contacter les Propriétaires. Les Utilisateurs sont seuls décisionnaires de la concrétisation du recours au service de Partage auprès des Propriétaires. En cas de Partage, il est rappelé que l’Utilisateur est responsable du vélo dont il a validé le Partage pendant le temps du prêt. A ce titre, il est responsable de la sécurité du vélo et de son entretien et doit veiller à le sécuriser comme nous le recommandons sur le site. En aucun cas, Bikerr SASU ne saurait couvrir le vol ou la casse du vélo loué si la responsabilité du l’Utilisateur devait être clairement engagée.</p>
    <strong>17. PROPRIETAIRE: </strong><p>désigne toute personne inscrite sur le Site qui décide de publier une annonce en vue de partager son Vélo. Le Propriétaire conclut de ce fait avec Bikerr SASU un contrat de courtage prévoyant des services et se voit, en outre, proposer un certain nombre de services facultatifs et payants.
        Le Propriétaire a accès au service de Partage et aux informations lui permettant de contacter les Utilisateurs. Les Propriétaires sont seuls décisionnaires de la concrétisation de la mise à disposition de leur cycle auprès des Utilisateurs.
        En cas de Partage, il est rappelé que dans le cadre de la Période de Partage (PdP) convenue entre le Propriétaire et l’Utilisateur, le Propriétaire a pour obligation vis-à-vis dudit Utilisateur :</p>
    <ul>
        <li>De tenir à disposition le vélo et le ou les antivols conformément aux indications mentionnées dans l’Annonce de Partage. Dans le cas d’un échange physique de la clé de l’antivol, de se présenter à l'heure et au lieu convenu ; à défaut ou en cas d'annulation, Bikerr SASU se réserve le droit de garder ces informations d'annulation en base de données sur son profil et/ou de publier cette information sur son profil en ligne et/ou de suspendre l'accès au Site du Propriétaire.</li>
        <li>D’informer sans délai l’Utilisateur de toute modification de la Période de Partage (PdP) ou des conditions d’accès du vélo et du ou des antivols.</li>
        <li>Si un Utilisateur a validé le Partage et que le Propriétaire décide de changer une quelconque condition du prêt telle qu'initialement renseignée, le Propriétaire s'engage à entrer en contact au plus vite avec l’Utilisateur ayant validée le Partage sur la Période proposée et à obtenir l'accord de l’Utilisateur en question concernant le changement. Si un Utilisateur refuse ce changement, alors il est en droit d'annuler complètement son prêt sans qu'aucuns frais d'annulation ne lui soit facturé, et sans qu'aucune indemnisation ne soit versée au Conducteur.</li>
        <li>Attendre l’Utilisateur sur le lieu du rendez-vous jusqu'à 30 minutes au-delà de l'heure convenue (même s’il est entendu que tolérance ne dispense pas l’Utilisateur d'être ponctuel).</li>
    </ul>
    <strong>18. MEMBRE VERIFIE: </strong><p> désigne le membre vérifié dans les conditions stipulées à l’article « Vérification » des présentes CGU.</p>
    <strong>19. VERIFICATION: </strong><p>désigne le Service proposé par le Site et consistant à vérifier la cohérence apparente de l’identité déclarée des Membres avec les copies des documents d’identité fournis, ainsi que la cohérence apparente de l’annonce des Membres avec les copies de leurs justificatifs de propriété du ou des cycles.</p>
    <strong>20. CYCLE: </strong><p>désigne tous les types de vélo, bicyclette, trottinette à assistance électrique ou pas et par extension tous les types de montures existantes comme les remorques, sulky et autres accessoires utilisés pour se déplacer ou transporter des personnes et marchandises.</p>
    <strong>21. SERVICE: </strong><p>désigne tout service rendu par Bikerr SASU – gratuit ou payant – au moyen du Site à un Membre au titre du contrat de courtage, étant précisé que Bikerr SASU n'est jamais partie à un contrat de Partage.</p>
    <strong>22. VISITEUR: </strong><p>désigne toute personne qui visite le Site sans s’inscrire et sans accepter les présentes CGU.</p>
    <strong>23. ANTIVOL: </strong><p>désigne le système de verrouillage utilisé par un Propriétaire pour sécuriser un cycle. Le Site internet facilité l’échange des informations nécessaires à l’accessibilité du cycle proposé par le Propriétaire et accepté par l’Utilisateur.</p>
    <strong>24. RETRAIT: </strong><p>désigne la prise en main d’un vélo par un Utilisateur après Validation de l’Annonce de Partage.</p>
    <strong>25. RETOUR: </strong><p>désigne le retour du vélo par un Utilisateur selon les modalités indiquées et acceptées dans l’Annonce de Partage.</p>
    <strong>26. LIEU OU ADRESSE DE RETOUR: </strong><p>désigne une ou plusieurs adresses où l’Utilisateur doit déposer le vélo au terme de la Période de Partage (PdP).</p>

    <strong>I.2. ACCEPTATION EN LIGNE DES CONDITIONS GENERALES D'UTILISATION</strong><br><br>
    <p>L'utilisation du Site est subordonnée à l'acceptation des présentes CGU. Au moment de la création du Compte, les Membres doivent cliquer la case « J'accepte les Conditions Générales d'Utilisation du Site et du service proposé ». Seule l'acceptation de ces CGU permet aux Membres d'accéder aux services proposés par le Site. L'acceptation des présentes CGU est entière et forme un tout indivisible, et les Membres ne peuvent choisir de voir appliquer une partie des CGU seulement ou encore formuler des réserves. En cas de manquement à l'une des obligations prévues par les présentes, Bikerr SASU se réserve la possibilité de supprimer le Compte du Membre.</p>

    <strong>I.3. ACCEPTATION EN LIGNE DES CONDITIONS GENERALES D'UTILISATION</strong><br><br>
    <p>Bikerr SASU se réserve le droit – à sa seule discrétion – de modifier le Site ou de modifier les présentes CGU, y compris la participation aux frais, à tout moment et sans préavis. La modification prendra effet immédiatement dès la Mise en ligne des CGU que tout Utilisateur reconnait avoir préalablement consultées. Lorsque la modification survient après le paiement par l’Utilisateur d'une somme d'argent correspondant à la Participation aux Frais, la modification ne s'applique pas à la transaction en cours. Si vous continuez à accéder ou à utiliser le Site après que nous ayons affiché une modification sur le Site, ou que nous vous ayons envoyé une notification de modification, vous acceptez les Conditions modifiées. Si vous n'acceptez pas les Conditions ainsi modifiées, votre seul recours est de cesser d'utiliser le Site. Bikerr SASU se réserve notamment le droit de proposer des services nouveaux, gratuits ou payants sur le Site.</p>
    
    <strong><p class="text-center">VOUS RECONNAISSEZ QU'EN ACCÉDANT OU QU'EN UTILISANT LE SITE, OU QU'EN TÉLÉCHARGEANT OU POSTANT TOUT CONTENU DE OU VERS LE SITE VOUS CONFIRMEZ AVOIR LU, COMPRIS ET ACCEPTÉ D'ÊTRE LIÉ PAR LES PRÉSENTES CONDITIONS, QUE VOUS SOYEZ OU NON INSCRIT AUPRES DU SITE BIKERR SASU. SI VOUS N'ACCEPTEZ PAS LES PRÉSENTES CONDITIONS, VOUS N'AVEZ PAS LE DROIT D'ACCÉDER OU D'UTILISER LE SITE, L'APPLICATION, LES SERVICES OU LE CONTENU COLLECTIF.</p></strong>

    <hr>

    <strong><p class="text-center">*** Fin des Conditions générales d’utilisation du site ***</p></strong>

    <hr>

</div>

    <div class="container">
    <h6>Mentions légales</h6>
        <p>Ce site Internet est développé par les élèves de la Wild Code School Strasbourg et est géré par la société Bikerr SASU (Société par Actions Simplifiées unipersonnelle). Ce site Internet et tout son contenu et les &quot;Points&quot; sont la propriété de Bikerr SASU, dont les bureaux sont situés au 141 A rue de Bâle, 67100 Strasbourg, France.</p>
        <p>SIRET: TI 818 919 094 R.C.S. STRASBOURG</p>
        <p>N° TVA CEE : FR 76 818919094</p>
        <br>
        <p>En vous connectant sur <a href="bikerr.fr">www.bikerr.fr</a> vous acceptez les Conditions Générales d'Utilisation. En acceptant nos Conditions Générales d'Utilisation, vous reconnaissez avoir lu et compris ces dernières. Les Conditions Générales d'Utilisations sont applicables dès lors que l'internaute les a acceptées en s'inscrivant. Pour nous contacter, vous pouvez nous envoyer un mail à <a href="mailto:contact@bikerr.fr">contact@bikerr.fr</a></p>
    </div>


{% endblock %}