{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/homepage.css') }}">
    <link rel="stylesheet" href="{{ asset('build/cgu.css') }}">
{% endblock %}

{% block body %}
    <div class="bikerr_container"></div>

    <nav class="justify-content-center h-75 navbar navbar-expand-lg navbar-light bg-dark text-light">
        <a class="mr-5" href="{{ path('conditions_generales') }}">1.Conditions générales</a>
        <a class="mr-5" href="{{ path('utilisation_service') }}">2.Utilisation du service</a>
        <a class="mr-5" href="{{ path('condition_assurance')}}">3.Conditions de l'assurance</a>
        <a class="mr-5" href="{{ path('confidentialite') }}">4.Confidentialité</a>
        <a class="mr-5" href="{{ path('ecomobilite') }}">5.Securité</a>
        <a class="mr-5" href="{{ path('cookies') }}">6.Cookies</a>
    </nav>

    <div class="container mt-5">

        <h2 class="text-center mt-5">II. Utilisation du service</h2>
        <h5 class="text-center">Dernière Mise à jour : 28 juin 2018</h5>
        <hr class="mt-5 mb-5">
        <strong><p>VEUILLEZ LIRE ATTENTIVEMENT LES CONDITIONS GÉNÉRALES D’UTILISATION DU SITE BIKERR.FR CAR ELLES CONTIENNENT DES INFORMATIONS IMPORTANTES CONCERNANT VOS DROITS, RECOURS ET OBLIGATIONS.</p>
            <p>LES PRESENTES CONDITIONS GENERALES D’UTILISATION S'APPLIQUENT AUX SERVICES PROPOSES PAR LE SITE BIKERR.FR.</p>
            <p>LE SERVICE DE PARTAGE DE VELOS EST EDITE PAR BIKERR SASU – AU CAPITAL DE 1000,00 € – R.C.S. STRASBOURG TI 818 919 094 – AYANT SON SIEGE SOCIAL, 141 A RUE DE BALE, 67100 STRASBOURG.</p>
            <p>L'HEBERGEMENT DU SITE EST ASSURE PAR LA SOCIETE OVH.</p></strong>
        <hr class="mt-5 mb-5">
        <p>Le Site peut être utilisé pour faciliter la publication d'Annonces et le Partage de cycles et autres montures n’utilisant pas un moteur thermique. Lesdits cycles sont insérés dans les Annonces du Site par les Propriétaires. Vous pouvez consulter les Annonces même si vous n'êtes pas enregistré sur le Site ; cependant, si vous voulez accéder à un cycle, ou créer vous-même une Annonce, vous devez préalablement créer un compte.</p>
        <p>Comme indiqué ci-dessus, Bikerr SASU propose une place de marché en ligne dotée d'une technologie adaptée et de services permettant aux Utilisateurs et aux Propriétaires de se rencontrer en ligne et d'organiser le Partage de vélos directement entre eux.
        </p>
        <p>Bikerr SASU n'est ni Propriétaire ni exploitant de biens, y compris notamment, de vélos de Partages ou tout autre type de cycles. Bikerr SASU n'a pas non plus la qualité de prestataire de mobilité et Bikerr SASU ne possède pas, ne vend pas, ne revend pas, ne fournit pas, ne loue pas, ne reloue pas, ne gère pas et/ou ne contrôle pas de vélos ou tout autres types de cycles.</p>
        <p>Sauf indication expresse contraire sur la plateforme Bikerr SASU, les responsabilités de Bikerr SASU se limitent à ce qui suit : faciliter l'accès au Site et agir en tant qu'agent de recouvrement des paiements à titre limité de chaque Membre aux fins d'accepter les paiements des Dépôts de garantie demandés par les Propriétaires qui le souhaitent.</p>
        <hr class="mt-5 mb-5">
        <strong>II.1. ADMISSIBILITÉ</strong><br><br>
        <p>Le Site s'adresse uniquement aux personnes âgées de 18 ans ou plus. Tout accès ou toute utilisation du Site par une personne de moins de 18 ans est strictement interdit(e). En accédant ou en utilisant le Site, vous déclarez et garantissez avoir 18 ans ou plus.</p>
        <strong><p class="text-center">VEUILLEZ NOTER QUE, COMME INDIQUÉ PLUS HAUT, L'UTILISATION DU SITE EST DESTINÉE À FACILITER LA MISE EN RELATION DES PROPRIETAIRES ET DES UTILISATEURS AINSI QUE LE PARTAGE DE CYCLES DIRECTEMENT ENTRE EUX. BIKERR SASU NE PEUT PAS CONTRÔLER ET NE CONTRÔLE PAS LE CONTENU DES ANNONCES NI L'ÉTAT, LA LÉGALITÉ OU LE CARACTÈRE ADAPTÉ DES CYCLES. BIKERR SASU EXCLUT TOUTE RESPONSABILITÉ RELATIVE AUX ANNONCES ET AUX CYCLES. EN CONSÉQUENCE, LES MEMBRES EFFECTUERONT OU ACCEPTERONT LES PARTAGES À LEURS PROPRES RISQUES ET PÉRILS.</p></strong>
        <strong>II.1. ADMISSIBILITÉ</strong><br><br>
        <strong>A. CRÉATION DE COMPTE</strong><br><br>
        <p>Pour s'inscrire et bénéficier des Services proposés en ligne par Bikerr SASU chaque Membre doit au préalable créer un Compte en fournissant des données personnelles le concernant, indispensables au bon fonctionnement du Service de mise en relation de personnes (notamment nom, prénom, date de naissance, civilité, numéro de téléphone et adresse e-mail valides).
            Tout Membre s’engage à informer Bikerr SASU sans délai en cas de modification des informations communiquées au moment de l’inscription en procédant lui-même à ces modifications au sein de son espace personnel. Bikerr SASU ne pourra en aucun cas être tenue pour responsable des informations communiquées par les Membres qui pourraient être erronées ou frauduleuses.
            Le Membre certifie être âgé de plus de 18 ans au moment de son inscription. Il déclare avoir la jouissance pleine et régulière du cycle en vertu d’une facture d’achat ou d’une déclaration sur l’honneur ou de tout autre titre l’autorisant à conclure sur ce bien, sans l’autorisation d’un tiers, pendant toute la durée de son adhésion aux CGU, une convention de prêt à usage au sens des dispositions des articles 1875 et s. du Code civil français et à mettre gratuitement, dans ce cadre, son cycle à disposition d’un autre Utilisateur, et en particulier, jusqu’à l’expiration de la période de Partage (PdP). Le Membre s’engage à ne pas signer les CGU ou recourir aux Services à titre commercial.
            Dès création de son compte, le Membre choisira un identifiant et renseignera un mot de passe lui permettant d’accéder à son espace personnel. Chaque Membre est seul et entièrement responsable de l’utilisation des Identifiants le concernant et s’engage à les conserver secrets et à ne pas les divulguer, à qui que ce soit, sous quelque forme que ce soit et pour quelque raison que ce soit. Chaque Membre sera responsable de l’utilisation de ses Identifiants par des tiers ou des actions ou déclarations faites par l’intermédiaire de son compte personnel de Membre, qu’elles soient frauduleuses ou non et garantit Bikerr SASU contre toute demande à ce titre.
            Par ailleurs, Bikerr SASU n’ayant pas pour obligation et ne disposant pas des moyens techniques de s’assurer de l’identité des personnes s’inscrivant sur le Site, elle n’est pas responsable en cas d’usurpation de l’identité d’un Membre (même d’un Membre Vérifié). Si le Membre a des raisons de penser qu’une personne utilise frauduleusement des éléments d’identification ou son compte, il devra en informer immédiatement Bikerr SASU. En cas de perte ou de vol d’un des Identifiants le concernant, le Membre est responsable de toute conséquence dommageable de cette perte ou de ce vol, et doit utiliser, dans les plus brefs délais, la procédure lui permettant de les modifier.
            Le Membre s'engage à ne pas créer ou utiliser d'autres comptes que celui initialement créé, que ce soit sous sa propre identité ou celle de tiers. Toute dérogation à cette règle devra faire l'objet d'une demande explicite de la part du Membre et d'une autorisation expresse et spécifique de Bikerr SASU. Le fait de créer ou utiliser de nouveaux comptes sous sa propre identité ou celle de tiers sans avoir demandé et obtenu l'autorisation de Bikerr SASU pourra entraîner la suspension immédiate des comptes du Membre et de tous les services associés.</p>
        <strong>B. FERMETURE DU COMPTE</strong><br><br>
        <p>Bikerr SASU se réserve le droit de refuser ou de fermer (sans être tenue de motiver cette fermeture et sans recours possible ni indemnité de quelque nature que ce soit) le Compte Utilisateur de tout Membre qui ne remplirait pas/plus les conditions initiales de titularité d’un compte, ou qui contreviendrait aux CGU, à la réglementation, aux règles de bonne moralité, aux valeurs et à l’éthique que le Site s’efforce de véhiculer.</p>

        <ul>
            <li>Donner sur le Site des informations fausses ou de nature à induire les autres utilisateurs ou toute autre personne en erreur</li>
            <li>Créer de faux comptes</li>
            <li>Porter atteinte aux droits des tiers</li>
            <li>Diffuser des annonces, contenus, photographies agressives ou polémiques</li>
            <li>Prendre un engagement pour un tiers</li>
            <li>Envoyer des courriers électroniques non sollicités à caractère commercial (spamming), détourner les Membres du Site ou suivre des Membres sur des réseaux sociaux à des fins commerciales</li>
            <li>Diffuser des virus ou autres technologies de nature à porter atteinte au Site ou aux intérêts et biens de la Société ou d'autres utilisateurs du Site</li>
            <li>Poster ou diffuser, sous quelque forme que ce soit, des informations ou contenus ayant pour effet de diminuer, désorganiser, empêcher des Services ou interférer dans le bon fonctionnement du Site</li>
            <li>Copier, modifier, ou distribuer un contenu appartenant à autrui</li>
            <li>Utiliser des robots, spiders, scrapers ou d'autres moyens utilisés pour accéder au Site et pour collecter le contenu du Site quel que soit le but de cette manœuvre, sans l’autorisation explicite et écrite de Bikerr SASU</li>
            <li>Collecter ou se procurer d’une quelconque manière des informations relatives à autrui, notamment les adresses e-mail, sans y avoir été autorisé</li>
            <li>Contourner les mesures destinées à prévenir ou restreindre l'accès au Site</li>
            <li>Inclure des liens au sein des annonces des Membres, notamment vers d'autres sites</li>
            <li>Proposer des cycles à la Partage</li>
            <li>Solliciter des cycles à la Partage</li>
            <li>Réaliser un Partage de vélo en dehors du Site</li>
            <li>Collecter ou fournir des informations sur les périodes de Partage indiquées par les Membres à l’effet de localiser les cycles des Propriétaires pour les voler</li>
            <li>Détourner l’usage des cycles proposés au partage entre les Membres</li>
            <li>Acquérir frauduleusement des Points en organisant de faux Partages de vélos, de faux parrainages, etc.</li>
        </ul>
        <strong>II.3. SERVICE DE MISE EN RELATION</strong><br><br>
        <p>Bikerr SASU met gratuitement à la disposition de ses Membres un service de mise en relation sur son Site, permettant aux Propriétaires d’un côté de publier une annonce afin de partage leur cycle et de l’autre aux Utilisateurs d’accéder à des cycles partagés par les Propriétaires.
            Les Membres entrés en relation sur le Site en vue de la réalisation d’un Partage s’engagent le cas échéant à concrétiser ce Partage sur le Site par la signature d’une convention de prêt à usage soumise aux dispositions des articles 1875 et s. du Code civil français.
            Les Membres s’interdisent de réaliser tout Partage initié sur le Site en dehors de celui-ci, sous peine de clôture immédiat de leur Compte Utilisateur.
            Il est précisé que les coordonnées (nom, numéro de téléphone, adresse) d’un Membre ne sont communiquées à un autre Membre que lors de la réalisation du Partage.</p>
        <strong>II.4. SERVICE DE PARTAGE</strong><br><br>
        <p>Bikerr SASU met à la disposition de ses Membres un Service de Partage gratuit, permettant aux Membres d’échanger sur la possibilité de conclure un contrat de Partage.
            Les informations diffusées sur le Service de Partage de Bikerr SASU sont diffusées à l’initiative et sous la seule responsabilité des Membres. Ces informations ne sont pas susceptibles de créer une quelconque garantie de la part de Bikerr SASU sur leur exactitude, leur exhaustivité, leur caractère non trompeur ni même leur vraisemblance.
            Bikerr SASU qui a accès aux informations échangées sur le Service de Partage, se réserve par ailleurs le droit de retirer un contenu de ces messages, contraire aux CGU, à la loi ou qui serait jugé litigieux selon sa propre appréciation.</p>
        <strong>II.5. SERVICES GRATUITS ET SERVICES OPTIONNELS</strong><br><br>
        <p>Bikerr SASU assure la diffusion d’annonces – via son Site www.bikerr.fr – publiées par les Membres ayant pour objectif la mise à disposition de cycles sous forme de prêt à usage à titre gratuit. Bikerr SASU réalise ainsi un service de courtage gratuit entre des Propriétaires et des Utilisateurs – tous deux Membres de la plateforme – et qui souhaitent échanger les cycles dont ils ont la disposition.
            Le Site n’est qu’un lieu de rencontre entre des Membres dont l’objet est de permettre à des Propriétaires et des Utilisateurs de conclure, s’ils le souhaitent et sous leur propre responsabilité, un contrat dématérialisé de Partage portant sur un ou plusieurs biens immobiliers.
            L'objet du Site n'est donc pas de garantir la finalisation ou la bonne exécution d’un ou plusieurs Partage entre Membres – auxquelles Bikerr SASU ne saurait s'engager – mais seulement de mettre en relation des Membres qui concluront éventuellement un contrat de Partage.
            Bikerr SASU n’étant pas partie à la conclusion du contrat de Partage entre deux Membres, ne pourra en vérifier ni la régularité (que ce soit au regard de la libre disponibilité du bien, des conditions de formation du contrat, de la licéité des obligations contractuellement mises à la charge de l’un ou l’autre des Membres ou à tout autre titre), ni la bonne exécution.
            L’attention des Membres est donc attirée sur les risques liés à la mise à disposition d’un bien cycle dans le cadre d’un Partage, en particulier, le risque de dégradation du bien ou de vol/perte de certains objets le garnissant. Il est, en particulier, rappelé que tout Propriétaire est libre de choisir l’Utilisateur qui utilisera son bien et inversement que des contacts préliminaires entre Membres peuvent permettre de prévenir certaines difficultés pouvant découler d’un Partage.</p>
        {#<strong>II.6. VERIFICATION D'IDENTITE</strong><br><br>
<p>Bikerr SASU propose un service de vérification d’identité optionnel et payant.
    Le Service de Vérification d’identité consiste, pour un Membre, à demander à Bikerr SASU de vérifier sa propre identité et l’adresse de son domicile afin d’acquérir le statut de « Membre vérifié ».
    Au titre du Service de Vérification, Bikerr s'engage uniquement à vérifier que l’adresse de la Résidence publiée sur l’annonce correspond à l'adresse figurant sur le justificatif de Résidence envoyé par le Membre Vérifié à la Société sous format numérique et que les prénom et nom du Membre communiqués sur son profil correspondent à ceux figurant sur la copie de la pièce d'identité transmise par le Membre à Bikerr.
    D’une manière générale, le Service de Vérification ne permet pas de garantir l’authenticité du contenu de l’annonce ou d’éviter d’éventuelles fraudes (niveau de confort, taille du bien, etc.) Un Membre Vérifié sera identifié par une pastille verte sur son profil. Les tarifications de ce Service de Vérification seront prochainement détaillées sur la page [ajouter le lien hypertexte].</p>#}
        <strong>II.7. DÉPÔT DE GARANTIE</strong><br><br>
        <p>BIKERR SASU propose un service de dépôt de garantie entre le Propriétaire et l’Utilisateur, permettant ainsi au Propriétaire de se prémunir, totalement ou partiellement, contre le risque de vol, de perte ou de dégradation de son bien dans les conditions stipulées aux présentes CGU.
            Ce Service de Dépôt de garantie est optionnel et payant. Le montant du Dépôt de garantie fait l’objet d’une préautorisation sur la carte bancaire de l’Utilisateur. Ce dernier paie la totalité de la commission au moment où il conclut le Partage avec le Propriétaire.
            En cas de dégradation, perte ou vol, le Propriétaire déclarera, dans les 10 jours suivant le dernier jour de la période de partage – par email à l’adresse contact@bikerr.fr – son intention de conserver une partie ou la totalité du montant du Dépôt de garantie en justifiant par tout document probant de la nature et de l’estimation de chaque dommage invoqué (Bikerr faisant le lien avec le Membre Invité).
            Toute notification hors de ces délais ne sera pas prise en compter et le montant du Dépôt de garantie sera remis à la disposition de l’Utilisateur.
            L’Utilisateur devra répondre à la déclaration d’exercice du Dépôt de garantie émanant du Propriétaire dans les 10 jours suivant la réception de ladite notification ou, le cas échéant de la justification du dommage.
            En cas de déclaration d’exercice du Dépôt de garantie et le cas échéant, de justification du dommage par le Propriétaire dans le délai applicable, tout silence conservé par l’Utilisateur au-delà du délai de 10 jours ci-dessus mentionné vaudra renonciation irrévocable à contester l’application du Dépôt de garantie pour le montant notifié.
            En cas de déclaration d’exercice du Dépôt de garantie, ou le cas échéant, de la justification du dommage, dans le délai applicable, si l’Utilisateur donne son accord sur l’estimation du dommage et l’exercice du Dépôt de garantie, le montant du Dépôt de garantie fixé entres les deux parties lors du Partage sera versé au Propriétaire, au plus tard dans les 5 jours ouvrés de la confirmation de l’accord des deux parties.
            Dans l’hypothèse où la carte bancaire utilisée par le Membre Invité viendrait à expirer au jour du versement, ce dernier restera redevable du montant du Dépôt de garantie et sera tenu de le régler sous 5 jours calendaires par tout moyen accepté par Bikerr SASU, y compris par virement bancaire ou tout autre carte bancaire en cours de validité dont le Membre sera titulaire.
            Faute d’accord entre le Propriétaire et l’Utilisateur sur le principe de la conservation partielle ou totale du montant du Dépôt de garantie par le Propriéatire, et/ou sur le montant conservé par le Propriétaire, Bikerr SASU sera séquestre de la somme prélevée sur la carte bancaire du Membre Invité jusqu’à instruction émanant à la fois du Propriétaire et de l’Utilisateur confirmant leur accord conjoint sur la répartition entre eux de la somme séquestrée.
            A défaut d’accord entre les Membres concernés, dans un délai d’un an suivant la date de prélèvement du Dépôt de garantie, et à défaut de justification par le Propriétaire de l’introduction d’une action judiciaire visant à obtenir le paiement du Dépôt de garantie, la Société libérera le Dépôt de garantie, déduction faite du montant de la commission, sur le compte bancaire de l’Utilisateur.
            En cas de production d’un acte introductif d’instance visant à obtenir le paiement du Dépôt de garantie, Bikerr SASU conservera le Dépôt de garantie jusqu’à production de la décision de justice définitive et exécutoire. Bikerr SASU libèrera le Dépôt de garantie conformément aux termes de la décision de justice définitive et exécutoire.
        </p>
        <strong>II.8. ASSURANCE</strong><br><br>
        <p>Tout Membre de la plateforme peut recourir au Service optionnel et payant d’assurance. Il devra, dans cette hypothèse, se conformer aux conditions générales d’assurance et d’assistance applicables telles que proposées par la Maif.
            Le Service Assurance consiste à assurer l’Utilisateur, de sa propre initiative ou sur demande du Propriétaire, qui aura précisé sur son annonce que l’assurance est obligatoire.
            La garantie couvre les dommages, le vol et offrent une couverture en responsabilité civile. La garantie intervient au titre de l’assurance dommages aux biens à concurrence d'un plafond de 5 000 €, assortie d'une franchise contractuelle de 50€ à la charge de l’Utilisateur pour tout événement à caractère accidentel survenu lors de la Partage d’un cycle sur le Site www.bikerr.fr.
            Le vol est inclus. En revanche, la simple crevaison qui ne revêt pas de caractère accidentel est de ce fait exclut de la garantie. Bikerr considère en effet qu’il revient aux Propriétaires d’entretenir leurs vélos et de proposer des cycles en bon état équipés de pneumatiques adéquates.
            La garantie intègre également une couverture en responsabilité civile pour le Propriétaire du vélo en cas de survenance d’un dommage du fait d’une défaillance mécanique du vélo, à concurrence d’un plafond de 15 000 000 € pour les dommages corporels.

            Les garanties excluent le risque circulation qui impliquerait le vélo loué dans un accident avec un véhicule terrestre à moteur (voiture, moto…) conformément à la Loi Badinter. Dans cette hypothèse, il appartient à l’emprunteur de faire intervenir son assureur personnel.

            L’assurance s’applique dès lors que le vélo est Partagé et couvre l’intégralité de la période de Partage. L’Assurance est détaillée sur la page
            <a href="https://bikerr.fr/aide/bikerr-assurance">dédiée</a>.</p>
        <strong>II.9. POINTS</strong><br><br>
        <p>Toute activité sur le Site (s’inscrire, compléter son profil, faire vérifier son profil et sa Résidence, parrainer des amis, conclure un contrat de Partage avec un autre Membre, etc.) permet au Membre de cumuler des Points.
            Le nombre de Points cumulés varie en fonction notamment de l’évaluation faite du cycle, selon des critères de type, d’ancienneté et d’état de celui-ci. Le Propriétaire peut modifier manuellement l'évaluation des Points proposée par Bikerr.</p>
        <p>Un Membre pourra gagner de nouveaux Points dans les cas suivants :</p>
        <ul>
            <li>S’il partage son cycle avec un Utilisateur</li>
            <li>S’il achète des Points supplémentaires pour finaliser un partage où l’Utilisateur manquerait de Points. Le prix d’un Point est d’un euro</li>
        </ul>
        <p>Les Points ne sont acquis qu’une fois par cycle et ne sont pas transférables. Toute manœuvre visant à contourner ces règles (faux parrainage, création de plusieurs comptes par une personne etc.) sont prohibées. Les modalités de fonctionnement des Points (descriptif, calcul, modalités d’attribution,…) sont détaillées sur le Site.</p>
        <strong>II.10. CONDITIONS TARIFAIRES ET MODALITES DE PAIEMENT</strong><br><br>
        <p>L'inscription sur le Site et l'organisation de Partage de cycles sont gratuites. Certains Services optionnels payants sont proposés aux Membres comme l'achat de Points pour permettre la réalisation d’un Partage, le Dépôt de garantie, la Vérification d’identité ou encore l’assurance. Tous les services payants sont optionnels. Il est donc possible de s'inscrire, communiquer avec les autres Membres, organiser et réaliser des Partages de manière complètement gratuite, sous réserve d’avoir rempli l’ensemble des champs d’informations prévus par le Site et permettant au Membre d’avoir un profil complet.
            Un Membre Vérifié peut toutefois demander à n’être contacté que par des Membres Vérifiés eux aussi.
            Les tarifs pour chacun des Services payants sont précisés dans les présentes CGU et sont également mentionnés explicitement sur la page de paiement du Service considéré. Avant validation de la commande de tout Service payant, les Membres seront explicitement avertis du tarif du Service, et leur accord sera sollicité pour procéder au règlement.
            Sauf mention contraire, les tarifs sont indiqués dans la monnaie du pays de résidence du Membre, et, à défaut, en euros (EUR). Il est de la responsabilité des Membres de payer tous les frais et taxes applicables résultant de l'utilisation du Site et des Services dans les délais et en utilisant un mode de paiement valable accepté par le Site.
            Les tarifs proposés par Bikerr SASU sont susceptibles d'être modifiés. Les modifications entrent immédiatement en vigueur et sont applicables à tout achat de Service réalisé après leur entrée en vigueur. Par ailleurs, Biker SASU pourra choisir de modifier temporairement les tarifs de ses Services pour des événements à caractère promotionnel ou de nouveaux Services. De telles modifications entrent en vigueur à la date indiquée au sein de la communication présentant l'événement promotionnel ou le nouveau Service. Le règlement des Services payants est réalisé uniquement par carte bancaire. Les Services ne sont pas remboursables.
        </p>
        <strong>II.11. CONDITIONS TARIFAIRES ET MODALITES DE PAIEMENT</strong><br><br>
        <p>Bikerr SASU se réserve le droit d’accepter ou de refuser le paiement par chèque ou par virement des Services souscrits par les Membres pour lesquels elle aura établi une facture.</p>
        <strong>II.12. DROIT DE RETRACTATION ET DE RENONCIATION</strong><br><br>
        <p>Le Membre du Site dispose d’un délai de quatorze (14) jours calendaires à compter du paiement d’un Service optionnel payant pour exercer son droit de rétractation et/ou de renonciation auprès de Bikerr SASU, sans avoir à justifier de motifs (sauf en cas de renonciation au Service d’Assurance), ni à supporter de pénalité.
            Si le Membre souhaite que le Service soit réalisé avant l’expiration du délai de rétractation et/ou de renonciation, il devra en faire expressément la demande.
            Pour exercer son droit de rétractation et/ou de renonciation, le Membre doit informer Bikerr SASU de sa décision en envoyant un mail en ce sens à l’adresse suivante : contact@bikerr.fr.
            En cas de renonciation au Service d’Assurance, en application de l’article L. 112-10 du code des assurances, et/ou de rétractation au Service de Dépôt de garantie, et lorsque la souscription à l’un de ces Services payants a été réalisée à la demande du Propriétaire comme condition essentielle à la réalisation d’un Partage, le Partage correspondant sera automatiquement annulé.
            A réception, Bikerr SASU adressera au Membre un email confirmant la prise en compte de l’exercice de son droit de rétractation et/ou de renonciation.
            Le remboursement des Services payés est effectué par le versement des fonds au crédit de la carte bancaire utilisée par le Membre dans les meilleurs délais, et, en tout état de cause, au plus tard dans les quatorze (14) jours suivant la date à laquelle le droit de rétractation et/ou de renonciation a été exercé.</p>
        <strong>II.13. RESPONSABILITE</strong><br><br>
        <p>Sauf dans le cas où Bikerr SASU aurait été dûment informée de l'existence d'un contenu illicite au sens et dans les conditions de la législation en vigueur, et n'aurait pas agi promptement pour le retirer, Bikerr SASU décline toute responsabilité relative à tout contenu publié par les Membres, et notamment celui des petites annonces, et aux agissements de ces derniers.
            Le partage de cycles résultant exclusivement de l'accord intervenu entre le Propriétaire et l’Utilisateur, les Membres du service (Propriétaires comme Utilisateurs) agissent sous leur seule et entière responsabilité. A ce titre, le déroulement effectif de la Période de Partage (PdP) proposé par le Propriétaire et accepté par l’Utilisateur ne saurait entrainer de responsabilité imputable à Bikerr SASU, sur quelque fondement que ce soit, le service proposé par Bikerr SASU étant un service d’intermédiation.
            La responsabilité de Bikerr SASU ne peut notamment pas être engagée en raison d'un sinistre qui serait survenu pour des raisons telles que: </p>
        <ul>
            <li>la communication par le Propriétaire d'informations erronées concernant la Période de Partage (PdP) et ses modalités</li>
            <li>l'absence d'antivol</li>
            <li>l’annulation de la Mise à disposition du vélo par le Propriétaire</li>
            <li>Le comportement frauduleux ou la faute du Propriétaire ou de l’Utilisateur pendant, avant, ou après la Période de Partage (PdP)</li>
            <li>Le non port du casque ou du gilet de sécurité fluo</li>
        </ul>
        <p>Bikerr SASU ne saurait être tenue pour responsable des pertes financières ou commerciales, des atteintes à la réputation, ou de tout préjudice direct ou indirect découlant de l’utilisation du Site et des Services par les Membres. En particulier, Bikerr SASU ne saurait être tenu pour responsable des dégradations de cycles et plus largement des équipements présents sur les cycles, ou de tout autre préjudice subi par un Membre ou un tiers à la suite d’une période de Partage.
            Plus généralement, aucune forme de responsabilité ne pourra être retenue à l'égard de Bikerr SASU en cas d'utilisation frauduleuse d'instruments de paiement par l’Utilisateur. Dans ce cas, aucune garantie de paiement du Propriétaire n'est assurée par Bikerr SASU.
            Dans l'hypothèse où la responsabilité de Bikerr SASU serait engagée, le dédommagement à l'encontre du Membre lésé sera limité au total des frais que le Membre aura payés à Bikerr SASU au cours des douze mois précédant l'action engageant la responsabilité de Bikerr SASU ou à la somme de 100 euros, en fonction du montant le plus élevé.
            La Société s'efforce d'assurer la disponibilité du Site et du Service 24 heures sur 24, et 7 jours sur 7. Cependant, il peut arriver que l'accès au Site ou au Service soit interrompu dans le cadre d'opérations de maintenance, de mises à niveau matérielle ou logicielle, de réparations d'urgence du Site, ou par suite de circonstances indépendantes de la volonté de Bikerr SASU (comme par exemple, la défaillance des liaisons et équipements de télécommunications).
            Bikerr SASU s'engage à prendre toutes les mesures raisonnables pour limiter ces perturbations, pour autant qu'elles lui soient imputables.
            Les Membres reconnaissent et acceptent que Bikerr SASU n'assume envers eux aucune responsabilité pour toute indisponibilité, suspension ou interruption du Site ou du Service et ne peut être tenue pour responsable des préjudices directs ou indirects de toute nature résultant de ce fait.
            Dans tous les cas, et sans préjudice de ce qui est exposé ci-dessus et dans les autres clauses concernant l'absence de responsabilité de Bikerr SASU, toute cause de responsabilité qui pourrait être retenue à l'encontre de la Société ne pourra donner lieu qu'au versement de dommages et intérêts dont le montant sera limité aux montants encaissés au titre des frais de Service ou des frais d'annulation.</p>
        <strong>II.14. RESILIATION</strong><br><br>
        <p>Les Membres du Site peuvent, à tout moment, mettre fin aux CGU en supprimant leur compte dans leur gestionnaire de Profil. La clôture de leur Compte auprès de Bikerr est immédiate. Elle est sans frais, sans motif et se fait simplement en quelques clics.</p>
        <p>Toutefois, dans l’hypothèse où un Partage est en cours à cette date entre le Membre concerné et un autre Membre, les obligations du Membre concerné au titre des CGU se poursuivront jusqu’à l’expiration d’une période de 15 jours suivant le dernier jour de la période de Partage réalisée ou consentie par le Membre concerné (voire jusqu’au dénouement du Service du Dépôt de garantie en cas de recours à un tel service).
            En tout état de cause, cette résiliation ne pourra entraîner un quelconque droit à remboursement des Services facturés par Bikerr SASU antérieurement à la date d'effet de la résiliation.
            En cas de non-respect de la part des Membres de tout ou partie des CGU, ou en cas de comportement contraire à l’esprit des CGU de la part des Membres, Bikerr SASU se réserve le droit de limiter l’accès des Membres à ses Services, de retirer certains contenus hébergés sur le Site, de clôturer le Compte Utilisateur du Membre ou de résilier les CGU dans un délai de sept (7) jours suivant l'envoi au Membre d'un courrier électronique resté infructueux le priant de se conformer aux présentes CGU. En cas de manquement grave, Bikerr SASU pourra résilier le compte du Membre sans préavis ni mise en demeure.</p>
        <strong>II.15. RÉSILIATION À L’INITIATIVE DE BIKERR SASU</strong><br><br>
        <p>Toute résiliation pour manquement interviendra sans préjudice de tous les dommages et intérêts qui pourraient être réclamés par la Société au Membre à titre de réparation des préjudices subis. Le Membre sera informé par courrier électronique de la résiliation ou de la confirmation de la résiliation de son Compte Utilisateur.</p>
        <hr>

        <strong><p class="text-center">*** Fin de l'utilisation du service ***</p></strong>

        <hr>

    </div>

    <div class="container">
        <h6>Mentions légales</h6>
        <p>Ce site Internet est développé par les élèves de la Wild Code School Strasbourg et est géré par la société Bikerr SASU (Société par Actions Simplifiées unipersonnelle). Ce site Internet et tout son contenu et les &quot;Points&quot; sont la propriété de Bikerr SASU, dont les bureaux sont situés au 141 A rue de Bâle, 67100 Strasbourg, France.</p>
        <p>SIRET: TI 818 919 094 R.C.S. STRASBOURG</p>
        <p>N° TVA CEE : FR 76 818919094</p>
        <br>
        <p>En vous connectant sur <a href="bikerr.fr">www.bikerr.fr</a> vous acceptez les Conditions Générales d'Utilisation. En acceptant nos Conditions Générales d'Utilisation, vous reconnaissez avoir lu et compris ces dernières. Les Conditions Générales d'Utilisations sont applicables dès lors que l'internaute les a acceptées en s'inscrivant. Pour nous contacter, vous pouvez nous envoyer un mail à <a href="mailto:contact@bikerr.fr">contact@bikerr.fr</a></p>
    </div>
{% endblock %}