    <h2>MOT DE PASSE</h2>
    <div class="form_control">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {{ form_start(form) }}
        {{ form_row(form.current_password) }}
        {{ form_row(form.plainPassword) }}
        <input class="bouton" type="submit" value="Enregistrer" />
        {{ form_end(form) }}
    </div>
