{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/virement.css') }}">
    <link rel="stylesheet" href="{{ asset('build/form.css') }}">
{% endblock %}



<div class="form_control">
    {{ form_start(form) }}
<h2 id="titre" class="mt-2">RÉCUPÉRATION DE CAUTION</h2>

<p class="mt-2" id="notice">Vous avez </p>


    <div class="row">
        <div class="col-12">
          {{ form_row(form.owner_account) }}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {{ form_row(form.adresse) }}
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            {{ form_row(form.postal_code) }}
        </div>
        <div class="col-6">
            {{ form_row(form.pays) }}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {{ form_row(form.iban) }}
        </div>
        <div class="col-12">
            {{ form_row(form.bic) }}
        </div>
        <div class="row">
            <div class="col-4 bouton" id="submit">
                <button type="submit" id="submit" name="submit" class="bouton">Enregistrer</button>
            </div>
        </div>
    </div>
    {% do form.submit.setRendered %}
    {{ form_end(form) }}
</div>