{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/cartePaiement.css') }}">
    <link rel="stylesheet" href="{{ asset('build/form.css') }}">
{% endblock %}

{% block body %}

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title align-items-center">Paiement</h5>
                </div>
                 <div class="modal-body">
                    {{ form_start(form) }}
                     <div class="row container">

                        <div class="col-3">
                            <input id="carte_paiement_card_type_0" name="carte_paiement[card_type]" required="required" class="form-check-input" value="0" type="radio">
                            <!--<label class="form-check-label required" for="carte_paiement_card_type_0"></label>-->
                            <img src="{{ asset('images/paiement/icn-visa.png') }}" srcset="{{ asset('images/paiement/icn-visa@2x.png 2x,images/paiement/icn-visa@3x.png 3x') }}" class="Icn-Visa">
                        </div>
                        <div class="col-3">
                            <input id="carte_paiement_card_type_1" name="carte_paiement[card_type]" required="required" class="form-check-input" value="1" type="radio">
                            <!--<label class="form-check-label required" for="carte_paiement_card_type_1"></label>-->
                            <img src="{{ asset('images/paiement/icn-maestro.png') }}" srcset="{{ asset('images/paiement/icn-maestro.png,images/paiement/icn-maestro@2x.png 2x,images/paiement/icn-maestro@3x.png 3x') }}" class="Icn-Maestro">
                        </div>
                        <div class="col-3">
                            <input id="carte_paiement_card_type_2" name="carte_paiement[card_type]" required="required" class="form-check-input" value="2" type="radio">
                            <!--<label class="form-check-label required" for="carte_paiement_card_type_2"></label>-->
                            <img src="{{ asset('images/paiement/icn-mastercard.png') }}" srcset="{{ asset('images/paiement/icn-maestro.png,images/paiement/icn-mastercard@2x.png 2x,images/paiement/icn-mastercard@3x.png 3x') }}" class="Icn-Mastercard">
                        </div>
                        <div class="col-3">
                            <input id="carte_paiement_card_type_3" name="carte_paiement[card_type]" required="required" class="form-check-input" value="3" type="radio">
                            <!--<label class="form-check-label required" for="carte_paiement_card_type_3"></label>-->
                            <img src="{{ asset('images/paiement/icn-cb.png') }}" srcset="{{ asset('images/paiement/icn-cb@2x.png 2x,images/paiement/icn-cb@3x.png 3x') }}" class="Icn-CB">
                        </div>
                     </div>
                    <p class="float-left">Montant de l'assurance</p><p class="float-right">€3.00</p>

                    {{ form_row(form.cardNumber, {'attr': {'placeholder': 'Numéro de la carte'} }) }}
                    <div class="row">
                        <div class="col-6">
                        {{ form_row(form.cardExpirationDate, {'attr': {'placeholder': 'MMYY'} }) }}
                        </div>
                        <div class="col-6">
                        {{ form_row(form.cardCvx, {'attr': {'placeholder': 'CVV'} }) }}
                    </div>
                    </div>
                        <p>{{ form_row(form.checkbox) }}J'accepte les Conditions générales applicables à ce partage de vélo,
                        les modalités pratiques de mangopay,
                        la politique de confidentialité de Bikerr et les conditions de l'assurance.</p>

                     <div class="row">
                        <button class="bouton w-100 mt-3 align-items-center" type="submit" id="submit" name="submit" class="btn-secondary btn">Effectuer un paiement</button>{#{{  form_row(form.submit) }}#}
                     </div>

                    {% do form.submit.setRendered %}
                    {{ form_end(form) }}

                    <img class="banniere" src="{{ asset('images/paiement/banniere_mangopay.png') }}" alt="banniere_mangopay" />
                 </div>

                <div class="modal-footer">
                    <a href="#" alt="" class="center">Annuler</a>
                </div>
        </div>
        </div>

{% endblock %}