{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/enregistrement.css') }}">
{% endblock %}

{% block body %}
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <a href="http://127.0.0.1:8000/" onclick="$('#myModal').modal('hide')"><img src="{{ asset('images/icn-fermer.svg') }}"></a>
                <h5 class="modal-title align-items-center">Inscription</h5>
            </div>
            <div class="modal-body">
                {{ form_start(form) }}

                {{ form_row(form.email) }}
                {{ form_row(form.password) }}

                <input type="submit" class="bouton w-100 mt-3" value="Inscription">

                <div class="mt-3" id="conditions">
                    {{ form_row(form.conditions) }}
                </div>

                {{ form_end(form) }}
            </div>

            <div class="modal-footer">
            <p>Vous avez déjà un compte Bikerr ? <a href="/login">Connexion</a></p>
            </div>
        </div>
    </div>
{% endblock %}
