{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/enregistrement.css') }}">
{% endblock %}

{% block body %}
    <div class="text-center">
        <img class="mt-5 mb-5" id="logo" src="{{ asset('images/bikerr-green.png') }}" alt="Logo Bikerr">
    </div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="http://127.0.0.1:8000/" onclick="$('#myModal').modal('hide')"><img src="{{ asset('images/icn-fermer.svg') }}"></a>
                <h5 class="modal-title align-items-center">Connexion</h5>
            </div>
            <div class="modal-body">
                {{ form_start(form) }}

                {{ form_row(form.email) }}
                {{ form_row(form.plainPassword) }}

                <button type="submit" class="bouton w-100 mt-3"><img class ="mr-2" src="{{ asset('images/icn-bikerr.svg') }}">Inscription</button>

                <div class="mt-3" id="souvenir">
                    {{ form_row(form.souvenir) }}
                </div>

                {{ form_end(form) }}
            </div>

            <div class="modal-footer">
                <p>Vous n'avez pas encore de compte ?<a href="/register"> Inscription</a></p>
            </div>
        </div>
    </div>
    <p id="copyright">©Bikerr 2018. Tous droits réservés.</p>
{% endblock %}
