{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/enregistrement.css') }}">
{% endblock %}

<div class="text-center">
    <img class="mt-5 mb-5" id="logo" src="{{ asset('images/bikerr-green.png') }}" alt="Logo Bikerr">
</div>

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title align-items-center">Réinitialiser mon mot de passe</h5>
        </div>
        <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" method="post">
            <div class="modal-body">
                <input class="form-control mb-3" type="password" id="username" name="fos_user_resetting_form[plainPassword][first]" required="required" placeholder="Nouveau mot de passe" />
                <input class="form-control" type="password" id="username" name="fos_user_resetting_form[plainPassword][second]" required="required" placeholder="Confirmez le nouveau mot de passe" />
                <input type="hidden" id="fos_user_resetting_form__token" name="fos_user_resetting_form[_token]" value="{{ form.children._token.vars.data }}">
                <button type="submit" value="{{ 'resetting.reset.submit' }}" class="bouton w-100 mt-3"><img class ="mr-2" src="{{ asset('images/icn-bikerr.svg') }}">Envoyer</button>
            </div>
        </form>
    </div>
</div>
<p id="copyright">©Bikerr 2018. Tous droits réservés.</p>

