{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/partage.css') }}">
    <link rel="stylesheet" href="{{ asset('build/form.css') }}">
    <link rel="stylesheet" href="{{ asset('build/annonce.css') }}">
{% endblock %}

{% block body %}

    <div id="carousel-photos" class="row">
        {% for photo in reservation.velo.photos %}
            <img id="images__carousel" class="img-fluid" src="{{ asset('images/uploads/' ~ photo.image) }}" alt="Photo du vélo">
        {% endfor %}
    </div>

    <div class="container">
        <div class="cadrePartage">
            <div id="titreVelo" class="row" >
                <h4>{{ reservation.velo.titre }}</h4>
            </div>
            <div id="dates" class="row">
                <div id="jours" class="col-4">
                    <div><p id="jours1">{{ reservation.nbDay }}</p></div>
                    <div id="jours2">Jours</div>
                </div>

                {#Date de retrait#}
                <div id="dateDebut" class="col-4">
                    <div id="dateDebut1">{{ reservation.debut|date('Y-m-d') }}</div>
                    <div id="dateDebut2">Retrait</div>
                </div>

                {#Date de retour#}
                <div id="dateFin" class="col-4">
                    <div id="dateFin1">{{ reservation.fin|date('Y-m-d') }}</div>
                    <div id="dateFin2">Retour</div>
                </div>
            </div>

            <div id="pointsRes" class="row">
                <div class="col-4"><p id="points1">Points gagnés</p></div>
                <div class="col-4"><p id="points2"> <span id="points">{{ reservation.velo.coutPts }}</span> PTS/JOUR</p></div>
                <div class="col-4"><p id="nbPoints" style="text-align: center;">+{{ reservation.coutPts }}PTS</p></div>

            </div>
            <div id="caution" class="row">
                <div class="col-4"><p id="caution1">Dépôt de garantie</p></div>
                {% if reservation.velo.cautionOblig == 0 %}
                    <div class="col-4"><p id="caution2">Non</p></div>
                    <div class="col-4"><p id="partCaution">- -</p></div>
                {% else %}
                    <div class="col-4"><p id="caution2">{{ reservation.velo.caution }}€ (5%)</p></div>
                    <div class="col-4"><p id="partCaution">{{ reservation.velo.caution * 0.05 }}€</p></div>
                {% endif %}

            </div>
            <div id="assurance" class="row ">
                <div class="col-4"><p id="assurance1">Assurance</p></div>
                {% if reservation.velo.assurOblig == 0 %}
                    <div class="col-4"><p id="assurance2">Non</p></div>
                    <div class="col-4"><p id="totalAssurance" style="text-align: center;">- -</p></div>
                {% else %}
                    <div class="col-4"><p id="assurance2">Oui</p></div>
                    <div class="col-4"><p id="totalAssurance" style="text-align: center;">- -</p></div>
                {% endif %}
            </div>
            <div class="espaceVide">

            </div>

            <div id="total" class="row">
                <div class="col-6"><p id="total1">Total</p></div>
                <div class="col-6"><p id="total2" style="text-align: center;"><span style="color: #14cb68">+{{ reservation.coutPts }} PTS </span> / - -</p></div>

            </div>

            <div id="buttons" class="row">
                {% if reservation.etape == 0 %}
                    <div class="col-6 cadreBouton"><a href="{{ path('partage_suppression', {'id': reservation.id}) }}"><button type="button" class="boutonPartageAnn" id="buttonDecline">Je décline la réservation</button></a></div>
                    <div class="col-6 cadreBouton"><a href="{{ path('partage_validation_proprio', {'id': reservation.id}) }}"><button type="button" class="boutonPartageVal" id="buttonValid">Je valide la réservation</button></a></div>
                {% elseif reservation.etape == 1 %}
                    <div class="col-12 cadreMessage"><p id="messageAttente">Partage en attente de la validation et du paiement par le locataire</p></div>
                {% elseif reservation.etape == 2 %}
                    <div class="col-12 cadreMessage"><p id="messageAttente">En attente de retour du vélo par le locataire</p></div>
                {% elseif reservation.etape == 3 %}
                    <div class="col-6 cadreBouton"><a href="mailto:infos@bikerr.fr"><button type="button" class="boutonPartageAnn">Il y un problème, j’ouvre un cas de litige</button></a></div>
                    <div class="col-6 cadreBouton"><a href="{{ path('partage_retour_proprio', {'id': reservation.id}) }}"><button type="button" class="boutonPartageVal" >Tout s’est bien passé, je clos le partage</button></a></div>
                {% elseif reservation.etape == 4 %}
                    <div class="col-12 cadreMessage"><p id="messageAttente">Réservation archivée</p></div>
                {% endif %}
            </div>
        </div>

    </div>
{% endblock %}
