{% extends 'base.html.twig' %}
 {% block javascripts %}
     <script src="{{ asset('build/partage.js') }}"></script>
 {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/partage.css') }}">
    <link rel="stylesheet" href="{{ asset('build/form.css') }}">
    <link rel="stylesheet" href="{{ asset('build/annonce.css') }}">
{% endblock %}

{% block body %}

    <div id="carousel-photos" class="justify-content-center row">
        {% for photo in reservation.velo.photos %}
            <img id="images__carousel" class="img-fluid" src="{{ asset('images/uploads/' ~ photo.image) }}" alt="Photo du vélo">
        {% endfor %}
    </div>

    <div class="titreVelo">
        <h4>{{ reservation.velo.titre }}</h4>
    </div>
    <div class="container-fluid ">
        <div id="dates" class="row justify-content-center">
            <div class="col-4">
                <p>{{ reservation.nbDay }} Jours</p>
            </div>

            {#Date de retrait#}
            <div class="col-4">
                {{ reservation.debut|date('Y-m-d') }}
            </div>

            {#Date de retour#}
            <div class="col-4">
                {{ reservation.fin|date('Y-m-d') }}
            </div>
        </div>
        <div class="row justify-content-center">

            <p>Points gagnés</p>
            <p> <span id="points">{{ reservation.velo.coutPts }}</span> PTS/JOUR</p>
            <p id="nbPoints" style="text-align: center;">+{{ reservation.coutPts }} PTS</p>

        </div>
        <div class="row justify-content-center">
            <p>Dépôt de garantie</p>
            {% if reservation.velo.cautionOblig == 0 %}
                <p>Non</p>
                <p> - - </p>
            {% else %}
                <p>Oui</p>
                <p> - - </p>
            {% endif %}

        </div>
        <div class="row justify-content-center">
            <p>Assurance</p>
            {% if reservation.velo.assurOblig == 0 %}
                <p>Non</p>
                <p> - - </p>
            {% else %}
                <p>Oui</p>
                <p> - - </p>
            {% endif %}
        </div>

        <div class="row justify-content-center">
            <p>Total</p>
            <p id="totalPoints" style="text-align: center;">+{{ reservation.coutPts }} PTS</p> / <p id="totalEuros" style="text-align: center;"> - -</p>

        </div>

        <div class="row justify-content-center">
            {% if reservation.etape == 0 %}
                <a href="{{ path('partage_suppression', {'id': reservation.id}) }}"><button type="button" class="class ">Je décline la réservation</button></a>
                <a href="{{ path('partage_validation_proprio', {'id': reservation.id}) }}"><button type="button" class="class " >Je valide la réservation</button></a>
            {% elseif reservation.etape == 3 %}
                <a href=""><button type="button" class="class ">Il y un problème, j’ouvre un cas de litige</button></a>
                <a href="{{ path('partage_retour_proprio', {'id': reservation.id}) }}"><button type="button" class="class " >Tout s’est bien passé, je clos le partage</button></a>
            {% elseif reservation.etape == 4 %}
                <p>reservation archvé</p>
            {% endif %}
        </div>


    </div>
{% endblock %}