{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/partage.css') }}">
    <link rel="stylesheet" href="{{ asset('build/form.css') }}">
    <link rel="stylesheet" href="{{ asset('build/annonce.css') }}">
{% endblock %}

{% block body %}



    <div id="carousel-photos" class="justify-content-center row">
        {% for photo in reservation.velo.photos %}
            <img id="images__carousel" class="img-fluid" src="{{ asset('images/uploads/' ~ photo.image) }}" alt="Photo du vélo">
        {% endfor %}
    </div>


    <div class="container">
        <div class="cadrePartage">
            <div id="titreVelo" class="row">
                <h4>{{ reservation.velo.titre }}</h4>
            </div>
                <div id="dates" class="row ">

                    <div id="jours" class="col-4">
                        <div><p id="jours1">{{ reservation.nbDay }}</p></div>
                        <div id="jours2">Jours</div>
                    </div>

                    {#Date de retrait#}
                    <div id="dateDebut" class="col-4">
                        <div id="dateDebut1">{{ reservation.debut|date('Y-m-d') }}</div>
                        <div id="dateDebut2">Retrait</div>
                    </div>

                    {#Date de retour#}
                    <div id="dateFin" class="col-4">
                        <div id="dateFin1">{{ reservation.fin|date('Y-m-d') }}</div>
                        <div id="dateFin2">Retour</div>
                    </div>
                </div>
            <div id="pointsRes" class="row">

                <div class="col-4"><p id="points1">Points gagnés</p></div>
                <div class="col-4"><p id="points2"> <span id="points">{{ reservation.velo.coutPts }}</span> PTS/JOUR</p></div>
                <div class="col-4"><p id="nbPointsLoc" style="text-align: center;">-{{ reservation.coutPts }}PTS</p></div>

            </div>
            <div id="caution" class="row">

                <div class="col-4"><p id="caution1">Dépôt de garantie</p></div>
                {% if reservation.velo.cautionOblig == 0 %}
                    <div class="col-4"><p id="caution2">Aucun</p></div>
                    <div class="col-4"><p id="partCaution">0€</p></div>
                {% else %}
                    <div class="col-4"><p id="caution2">{{ reservation.caution }}€ (5%)</p></div>
                    <div class="col-4"><p id="partCaution">{{ reservation.caution * 0.05 }}€</p></div>
                {% endif %}
            </div>
            <div id="assurance" class="row ">
                    <div class="col-4"><p id="assurance1">Assurance</p></div>
                {% if reservation.velo.assurOblig == 0 %}
                    <div class="col-4"><p id="assurance2">Optionnelle</p></div>
                    <div class="col-4"><p id="totalAssurance" style="text-align: center;">{{ reservation.assurance }}€</p></div>
                {% else %}
                    <div class="col-4"><p id="assurance2">1€/JOUR</p></div>
                    <div class="col-4"><p id="totalAssurance" style="text-align: center;">{{ reservation.assurance }}€</p></div>
                {% endif %}
            </div>

            <div class="espaceVide">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>

            <div id="total" class="row">
                <div class="col-6"><p id="total1">Total</p></div>
                <div class="col-6"><p id="total2" style="text-align: center;"><span style="color: #e00244">- {{ reservation.coutPts }} PTS /</span> {{ reservation.caution * 0.05 + reservation.assurance }} €</p></div>

            </div>


            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header" >

                            <h4 class="modal-title" id="myModalLabel" style="margin: auto" >Paiement Mangopay</h4>
                        </div>
                        <div class="modal-body">
                            {{ render(controller(
                                'AppBundle:Paiement:RegisterCardView',
                                { 'reservation_id': reservation.id }
                            )) }}
                        </div>
                        <div class="modal-footer">

                        </div>
                    </div>

                </div>
            </div>


        <div id="buttons" class="row">
            {% if reservation.etape == 0 %}
                <div class="col-12 cadreBouton"><p id="messageAttente">En attente de la validation par le propriétaire</p></div>
            {% elseif reservation.etape == 1 %}
                    <div class="col-6 cadreBouton"><a href="{{ path('partage_suppression', {'id': reservation.id}) }}"><button type="button" class="boutonPartageAnn">J’annule ma demande de réservation</button></a></div>
                {% if reservation.caution == 0 and reservation.assurance == 0 %}
                    <div class="col-6 cadreBouton"><a href="{{ path('partage_paiement', {'id': reservation.id}) }}"><button type="button" class="boutonPartageVal" data-dismiss="modal">Confirmer la réservation</button></a>
                {% else %}
                    <div class="col-6 cadreBouton"><button type="button" class="boutonPartageVal" data-toggle="modal" data-target="#myModal">Je valide et je paye</button>
                {% endif %}
            {% elseif reservation.etape == 2 %}
                     <div class="col-12 cadreBouton"><a href="{{ path('partage_retour_locataire', {'id': reservation.id}) }}"><button type="button" class="boutonPartageVal"  >Je confirme le retour</button></a></div>
            {% elseif reservation.etape == 3 %}
                    <div class="col-12 cadreBouton"><p id="messageAttente">Retour en attente de validation par le proprietaire</p></div>
            {% elseif reservation.etape == 4 %}
                <div class="col-12 cadreBouton"><p id="messageAttente">Reservation archivée</p></div>
            {% endif %}
        </div>
    </div>
{% endblock %}