{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/annonce.css') }}">
{% endblock %}

{% block body %}

    <div id="carousel-photos" class="row">
        {% for photo in velo.photos %}
            <div class="container-fluid">
                <img class="col-4" src="{{ asset('images/uploads/' ~ photo.image) }}" alt="">
            </div>
        {% endfor %}
        {#<img class="col-4" src="http://via.placeholder.com/480x287" alt="">#}
        {#<img class="col-4" src="http://via.placeholder.com/480x287" alt="">#}
    </div>

    <div class="container">
        <div class="row">
            <div id="description" class="container mt-5 col-6">
                <div class="row">
                    <img src="{{ asset('images/icn-profil-verifie.svg') }}" class="mr-3" alt="Profil vérifié">
                    {#Ci-dessus: mettre seulement si le membre est vérifié en Twig#}
                    <h2>{{ velo.titre }}</h2>
                </div>
                <h5>2 partages</h5>

                <div class="row mt-5">
                    <h4 class="col-3">{{ velo.couleur }}</h4>
                    <h4 class="col-3">{{ velo.marque }}</h4>
                    <h4 class="col-3">{{ velo.typeVelo }}</h4>
                    <h4 class="col-3">{{ velo.etatVelo }}</h4>
                </div>
                <p>{{ velo.description }}</p>

                <div class="categorie container mt-5">
                    <div class="row">
                        <div class="col-6">
                            <h4 class="titre">Équipements</h4>
                            <ul>
                                <li>Éclairage arrière</li>
                                <li>Garde-boue avant</li>
                                <li>Garde-boue arrière</li>
                                <li>Gourde</li>
                                <li>Sonnette</li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <h4 class="titre">Antivol du vélo</h4>
                            <ul>
                                <li>Antivol à clé</li>
                                <li>Antivol à combinaison</li>
                                <li>Marquage Bicycode</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="container mt-5 categorie">
                    <h4 class="titre">Carte</h4>
                </div>

            </div>

            <div id="carte-partage">
                <div class="row">
                    <h1 id="nb-points" class="col-3">120</h1>
                    <div id="pts-jour-bloc" class="col-9">
                        <h4 id="pts-jour">Points / jour</h4>
                        <p id="avec">Avec vos 250 Points, vous pouvez emprunter ce vélo 2 jours.</p>
                    </div>
                    <button class=" bouton">Envoyer une demande de partage</button>
                </div>

            </div>
        </div>
    </div>



{% endblock %}