{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/recherche.css') }}">
    <link rel="stylesheet" href="{{ asset('build/form.css') }}">
{% endblock %}

{% block body %}


    <div class="container bloc-recherche">
        <div class="row">
            <!-- bloc recherche liste -->
            <div class="container col-12 col-lg-7">
                <div class="row">
                    <!-- barre de tri -->
                    <div class="col-12 col-lg-12 form-control">
                        <input id="search-city" class="controls" type="text" placeholder="Dans quelle ville voulez-vous un vélo ?">
                        <select class="velos" name="velos">
                            <option>---- Type de vélo ----</option>
                            <option value="draisienne">draisienne</option>
                            <option value="tricycle">tricycle</option>
                            <option value="trotinette">trotinette</option>
                            <option value="hoverboard">hoverboard</option>
                            <option value="enfant">enfant</option>
                            <option value="remorque">remorque</option>
                            <option value="bmx">bmx</option>
                            <option value="fixie">fixie</option>
                            <option value="singlespeed">singlespeed</option>
                            <option value="e-trotinette">trotinette électrique</option>
                            <option value="ville">vélo de ville</option>
                            <option value="cruiser">cruiser</option>
                            <option value="lowrider">lowrider</option>
                            <option value="tall-bike">tall bike</option>
                            <option value="vtc">vtc</option>
                            <option value="vtt">vtt</option>
                            <option value="hollandais">hollandais</option>
                            <option value="pliant">pliant</option>
                            <option value="grand-bi">grand-bi</option>
                            <option value="roue-electrique">roue électrique</option>
                            <option value="fatbike">fatbike</option>
                            <option value="rosalie">rosalie</option>
                            <option value="velo-course">vélo de course</option>
                            <option value="gravel">gravel</option>
                            <option value="piste">vélo de piste</option>
                            <option value="route">vélo de route</option>
                            <option value="suspendu">vtt suspendu</option>
                            <option value="tandem">tandem</option>
                            <option value="biporteur">biporteur</option>
                            <option value="cargo">cargo</option>
                            <option value="rickshaw">rickshaw</option>
                            <option value="couchee">à position couchée</option>
                            <option value="velo-electrique">à assistance électrique</option>
                            <option value="gyropode">gyropode (type segway)</option>
                            <option value="triporteur">triporteur</option>
                            <option value="triplette">triplette</option>
                            <option value="trike">trike</option>
                            <option value="voile">à voile</option>
                        </select>
                        <select class="points" name="points">
                            <option>----Tri Pts ----</option>
                            <option value="croissant">croissant</option>
                            <option value="decroissant">décroissant</option>
                        </select>

                    </div>
                    <div class="container col-12 col-lg-12 form-control">
                        <div class="row annonce">
                            {% for velo in velos %}
                                <!-- annonce -->
                                <div class="item js-marker col-6 col-lg-6" data-lat="{{ velo.latitude }}" data-lng="{{ velo.longitude }}" data-price="{{ velo.coutPts }}">
                                    <img src="http://via.placeholder.com/400x260" alt="">
                                    {#<img src="{{ asset('images/uploads/' ~ photo.image) }}" alt="">#}
                                    <div class="bloc-titres">
                                        <div class="description"><h4>{{ velo.titre }}</h4></div>
                                        <div class="nb-pts"><h4>Pts/jour <span>{{ velo.coutPts }}</span></h4></div>
                                    </div>
                                    <input id="ville" name="ville" type="hidden" value="{{ velo.ville }}">
                                    <input id="type" name="type" type="hidden" value="{{ velo.typeVelo }}">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- barre numeros de page -->
                    <div class="col-12 col-lg-12"></div>
                </div>
            </div>
            <!-- maps -->
            <div class="col-12 col-lg-5" id="map"></div>
        </div>
    </div>




    <!--          TRI           -->
    <script src="{{ asset('build/tri.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--          AUTOCOMPLETE           -->
    <script src="{{ asset('build/autocomplete.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcSv2oPG3tP4f_DFHF_VgyvfhMDTtyFlA&callback=initMap&libraries=places&callback=initAutocomplete"
            async defer></script>
    <!--          script divers          -->
    <script src="{{ asset('build/plugmap.js') }}"></script>
    <!--          API GOOGLE MAP         -->
    <script src="{{ asset('build/mapgoogle.js') }}"></script>


    </html>

{% endblock %}

