{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/velo.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
    <h2 class="titre">PHOTOS DU VÉLO</h2><br>
    <p class="infos_description">Ajoutez 3 photos de votre vélo et augmentez vos chances de finaliser un partage. Choisissez des photos qui montrent le vélo de façon réaliste pour permettre aux utilisateurs de l’identifier facilement.</p>
    <h4>Ajouter une photo :</h4>
        <div class="infos_description">
            {{ form_start(form) }}
            <div style="background-color: #e9ecef; margin: auto; width: 60%; border-radius: 5px;">
                {{ form_widget(form.imageFile) }}
                {{ form_errors(form.imageFile) }}
                <input class="bouton-sm" type="submit" value="Enregistrer" />
            </div>

        </div>

        {{ form_end(form) }}
        <br>
        <div class="row">
            {% for photo in velo.photos %}
                <div class="col-lg-4 col-md-6 col-sm-12 bikerr-card">
                    <div class="shadow">
                        <div class="card photos_crop">
                            <img class="card-img-top" src="{{ asset('images/uploads/' ~ photo.image ) }}" alt="">
                        </div>
                    </div>

                    <!-- Button trigger modal -->
                    <button type="button" class="bouton-sm" data-toggle="modal" data-target="#exampleModalCenter{{ photo.id }}">
                        Voir le vélo
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter{{ photo.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalCenterTitle">Mon vélo</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <img src="{{ asset('images/uploads/' ~ photo.image ) }}" alt="" style="width: 100%;">
                                </div>
                                <div class="modal-footer">
                                    <!-- bouton supprimer à mettre -->
                                    {{ form_start(delete_form) }}
                                    <input type="submit" value="Delete">
                                    {{ form_end(delete_form) }}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            {% endfor %}
        </div>

    </div>

{% endblock %}
