{% extends 'base.html.twig' %}

{% block body %}
    <h1>Photovelo</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ photoVelo.id }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ photoVelo.image }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('photovelo_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('photovelo_edit', { 'id': photoVelo.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
