{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/email.css') }}">
{% endblock %}

{% block subject %}Demande de partage !{% endblock %}

{% block body_html %}

    <div class="text-center">
        <img class="mt-5 mb-5" id="logo" src="{{ asset('images/bikerr-green.png') }}" alt="Logo Bikerr">
    </div>

    <h2>Bonjour,</h2>

    <p>Un utilisateur souhaite emprunter votre vélo "{{ proprio.velo.titre }}".</p>

    <p>Il s'agit de {{ membre.prenom }} {{ membre.nom }}. Pour voir sa demande, cliquez ici: <a href="https://bikerr.fr/{{ path('') }}"></a></p>

    <p>L'équipe Bikerr</p>

    <h5 id="copyright">©Bikerr 2018. Tous droits réservés.</h5>

{% endblock %}
