{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/email.css') }}">
{% endblock %}

{% block body_text %}
{% endblock %}

{% block body_html %}

    <h2>Bonjour Fabrice,</h2>

    <p>Ce mail vous est envoyé suite à un litige rencontré lors de la réservation d'un vélo effectué dans le cadre de Bikerr. Il s'agit de la réservation n°{{ reservation.id }}.

    Les personnes concernées sont {{ reservation.locataire.prenom }} {{ reservation.locataire.nom }} {{ reservation.locataire.email }} et {{ reservation.velo.proprio.prenom }} {{ reservation.velo.proprio.nom }} {{ reservation.velo.proprio.email }}. </p>

{% endblock %}
