{% block javascripts %}
<script src="{{ asset('build/partage.js') }}"></script>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/email.css') }}">
    <link rel="stylesheet" href="{{ asset('build/partage.css') }}">
    <link rel="stylesheet" href="{{ asset('build/form.css') }}">
    <link rel="stylesheet" href="{{ asset('build/annonce.css') }}">
{% endblock %}

{% block subject %}Transaction réussie !{% endblock %}

{% block body_text %}
{% endblock %}

{% block body_html %}
    {% autoescape false %}
        <div class="text-center"><div class="text-center">
        <img class="mt-5 mb-5" id="logo" src="{{ asset('images/bikerr-green.png') }}" alt="Logo Bikerr">
    </div>

            <img class="mt-5 mb-5" id="logo" src="{{ asset('images/bikerr-green.png') }}" alt="Logo Bikerr">
        </div>

        <h2>Bonjour {{ membre.prenom }},</h2>

        <p>Votre transaction a bien été effectuée. Voici le récapitulatif :</p><br>

        <!--                   RECAPITULATIF                       -->

        <div class="titreVelo">
            <h4>{{ reservation.velo.titre }}</h4>
        </div>
        <div class="container-fluid ">
        <div id="dates" class="row justify-content-center">
            <div class="col-4">
                <p>{{ reservation.nbDay }} Jours</p>
            </div>

            {#Date de retrait#}
            <div class="col-4">
                {{ reservation.debut|date('Y-m-d') }}
            </div>

            {#Date de retour#}
            <div class="col-4">
                {{ reservation.fin|date('Y-m-d') }}
            </div>
        </div>
        <div class="row justify-content-center">

            <p>Points gagnés</p>
            <p> <span id="points">{{ reservation.velo.coutPts }}</span> PTS/JOUR</p>
            <p id="nbPoints" style="text-align: center;"></p>

        </div>
        <div class="row justify-content-center">

            <p>Dépôt de garantie</p>
            {% if reservation.velo.cautionOblig == 0 %}
                <p>Aucun</p>
                <p id="partCaution">{{ reservation.velo.caution }}€ (5%) / {{ reservation.velo.caution * 0.05 }} €</p>
            {% else %}
                <p>{{ reservation.velo.caution }}€ (5%) / <span id="partCaution">{{ reservation.velo.caution * 0.05 }}</span> €</p>
            {% endif %}
        </div>
        <div class="row justify-content-center">
            <p>Assurance</p>
            {% if reservation.velo.assurOblig == 0 %}
                <p>Optionnelle</p>
                <p id="totalAssurance" style="text-align: center;">{{ reservation.assurance }} €</p>
            {% else %}
                <p>1€/JOUR</p>
                <p id="totalAssurance" style="text-align: center;">{{ reservation.assurance }} €</p>
            {% endif %}
        </div>

        <div class="row justify-content-center">
            <p>Total</p>
            <p id="totalPoints" style="text-align: center;">- {{ reservation.coutPts }} PTS</p> / <p id="totalEuros" style="text-align: center;">{{ reservation.caution * 0.05 + reservation.assurance }} €</p>
        </div>

        <!--                 FIN RECAPITULATIF                     -->

        <h5 id="copyright">©Bikerr 2018. Tous droits réservés.</h5>
    {% endautoescape %}
{% endblock %}