{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/email.css') }}">
{% endblock %}

{% block body_text %}
{% endblock %}

{% block body_html %}
    {% autoescape false %}
        <div class="text-center">
            <img class="mt-5 mb-5" id="logo" src="{{ asset('images/bikerr-green.png') }}" alt="Logo Bikerr">
        </div>

        <h2>Bonjour {{ reservation.velo.proprio.prenom }},</h2>

        <p>Le propriétaire du vélo {{ reservation.velo.titre }} vient de confirmer le retour du vélo.</p>
        {% if reservation.caution != 0 %}
        <p>Vous pouvez récupérer votre caution en cliquant <strong><a href="{{ app.request.getSchemeAndHttpHost() ~ path('retour_caution' }}">ICI</a></strong>.</p>
        {% endif %}
        <p>L'équipe Bikerr</p>

        <h5 id="copyright">©Bikerr 2018. Tous droits réservés.</h5>
    {% endautoescape %}
{% endblock %}