{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/homepage.css') }}">
{% endblock %}

{% block body %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <div class="gradient_box">
            {% if membre.image is not null %}
                <div class="crop_profile"><img src="{{ asset('images/uploads/'~membre.image) }}" alt=""></div>
                <br>
            {% endif %}
            <h4 class="explication_title white_text">Salut {{ membre.prenom }}, <br>besoin d'aide ?</h4>
        </div>
    {% else %}
        <div class="gradient_box">
            <br><br>
            <h1 class="explication_title white_text">Découvrez le concept</h1>
            <br><br>
        </div>
    {% endif %}

    <div class="bikerr_container">
        <div class="container_aide">
            <h4 class="explication_title bikerr-green">C’est quoi le marquage BICYCODE® ?</h4>
        </div>
    </div>

    <div class="bikerr-container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2 col-xs-10 offset-xs-1">
                <hr>
                <p class="explication bikerr-green text-center">
                    BICYCODE® est le système de marquage de vélos par gravure de numéros uniques reconnu au niveau national.
                </p>
                <hr>
            </div>
        </div>
    </div>

    <div class="bikerr_container container_velo">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <p class="explication">
                    Le dispositif BICYCODE® instauré par la FUB consiste à graver sur le cadre un numéro unique et pré-enregistré dans un fichier accessible sur
                    <a href="http://www.bicycode.org/" target="_blank" class="text_color_bikerr">www.bicycode.org</a><br>
                    Si votre vélo est volé est qu’il fait partie des 40 % de vélos volés retrouvés, il pourra ainsi vous être restitué. Le fichier national permet à chacun de savoir à partir du numéro gravé sur le cadre du vélo s’il s’agit d’un vélo volé. C’est actuellement le seul moyen pour lutter contre le recel et devenir un véritable dispositif pour lutter contre le vol.
                    <br><br><br>
                </p>
            </div>
            <div class="col-md-6 col-sm-12">
                <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/129800684?title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                <p class="explication"><a href="https://vimeo.com/129800684" class="text_color_bikerr">Bicycode - Le marquage</a> from <a href="https://vimeo.com/user9449536" class="text_color_bikerr">Studio S2O</a> on <a href="https://vimeo.com" class="text_color_bikerr">Vimeo</a>.</p>
            </div>
            <div class="col-md-6 col-sm-12">
                <h4 class="explication_title bikerr-green">Comment enregistrer son vélo ?</h4><br>
                <p class="explication">
                <ol>
                    <li class="explication">Chaque numéro BICYCODE® est unique et a son propre mot de passe.</li>
                    <li class="explication">Le numéro BICYCODE® est gravé sur votre vélo. Cette méthode a démontré sa résistance à la fraude.</li>
                    <li class="explication">Vous recevez votre Passeport vélo, rappelant le numéro BICYCODE® et son mot de passe associé.
                        <br>
                        Vous devez impérativement conserver votre Passeport vélo. Il vous permettra d&apos;enregistrer votre vélo sur le site bicycode.org et de justifier de la propriété du vélo en cas de litige ou pour faire une déclaration de vol.</li>
                    <li class="explication">L&apos;enregistrement de votre vélo en ligne est fortement recommandé, mais pas indispensable tant que le vélo n&apos;est pas volé. Vous devez déclarer sur ce serveur tout changement d&apos;état de votre vélo : volé, retrouvé, vendu, cédé par vous même à un tiers, ou détruit.</li>
                    <li class="explication">Si une personne retrouve votre vélo après un vol - et si vous avez bien déclaré ce vol sur le site BICYCODE® et auprès de la Police/Gendarmerie -  il pourra consulter la base de données et connaître les coordonnées du commissariat qui a enregistré votre plainte. Conformément aux recommandations de la CNIL, seules la Police ou la Gendarmerie peuvent accéder à vos coordonnées.</li>
                    <li class="explication">En cas de vente ou de cession d’un vélo, vous devez transmettre le Passeport vélo au nouveau propriétaire.</li>
                </ol>
                </p><br><br><br>
                <h4 class="explication_title bikerr-green">Où faire marquer son vélo ?</h4><br>
                <p class="explication">
                    Vous trouverez la liste de tous les opérateurs BICYCODE® en cliquant sur le lien ci-dessous. Elle vous permet de trouver facilement les coordonnées  d&apos;un opérateur de marquage BICYCODE® proche de chez vous. Pour connaître les horaires d&apos;ouverture et les tarifs d&apos;un opérateur régulier, veuillez prendre directement contact auprès de la structure référencée. Pour faire marquer son vélo il faut se présenter avec son vélo, sa pièce d&apos;identité et la facture d&apos;achat du vélo.
                </p><br><br>
                <a class="btn btn-lg bouton-lg" href="http://www.bicycode.org/le-bicycode.rub-2/ou-faire-marquer-son-velo.rub-11/?id_pays=6" role="button" target="_blank">Opérateurs BICYCODE®</a><br><br>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="img-aide">
                    <figure>
                        <img src="{{ asset('images/img-step-1.png') }}" alt="bikerr-cadenas"><br>
                        <figcaption class="explication" style="text-align: center;">Étape n°1 : trouvez l’opérateur le plus proche</figcaption>
                    </figure>
                </div>
                <div class="img-aide">
                    <figure>
                        <img src="{{ asset('images/img-step-2.png') }}" alt="bikerr-cadenas"><br>
                        <figcaption class="explication" style="text-align: center;">Étape n°2 : obtenez le passeport BICYCODE®</figcaption>
                    </figure>
                </div>
                <div class="img-aide">
                    <figure>
                        <img src="{{ asset('images/img-step-3.png') }}" alt="bikerr-cadenas"><br>
                        <figcaption class="explication" style="text-align: center;">Étape n°3 : activez le marquage sur bicycode.org</figcaption>
                    </figure>
                </div>
            </div>
            </div>
    </div>



{% endblock %}