{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/style.css') }}">
    <link rel="stylesheet" href="{{ asset('build/velo.css') }}">
{% endblock %}

{% block body %}
    <div class="container-fluid">

        <h4>SUPPRIMER LE VELO</h4>
        <div class="row">
            <div class="col">
                <table class="">
                    <tbody>
                    <tr>
                        <th>Titre :</th>
                        <td>{{ velo.titre }}</td>
                    </tr>
                    <tr>
                        <th>Marque :</th>
                        <td>{{ velo.marque }}</td>
                    </tr>
                    <tr>
                        <th>Modele :</th>
                        <td>{{ velo.modele }}</td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>

        <div>

            {{ form_start(delete_form) }}
            <input type="submit" class="class bouton" value="Supprimer">
            {{ form_end(delete_form) }}

        </div>


    </div>

{% endblock %}