<div class="container-fluid">
    <div class="Container-titre">
        <h3>Description</h3>
    </div>
    <div class="form-control">
        {{ form_start(form) }}
        <div>
            <div style="display: inline-block;">
                {{ form_label(form.titre) }}
            </div>
            <div class="asterix">
                (*)
            </div>
        </div>
        {{ form_errors(form.titre) }}
        {{ form_widget(form.titre) }}
        <div>
            <div style="display: inline-block;">
                {{ form_label(form.description) }}
            </div>
            <div class="asterix">
                (*)
            </div>
        </div>
        {{ form_errors(form.description) }}
        {{ form_widget(form.description) }}
        <div class="row">
            <div class="col-sm-6 container-fluid">
                <div>
                    <div style="display: inline-block;">
                        {{ form_label(form.marque) }}
                    </div>
                    <div class="asterix">
                        (*)
                    </div>
                </div>
                {{ form_errors(form.marque) }}
                {{ form_widget(form.marque) }}
            </div>
            <div class="col-sm-6 container-fluid">
                <div>
                    <div style="display: inline-block;">
                        {{ form_label(form.modele) }}
                    </div>
                    <div class="asterix">
                        (*)
                    </div>
                </div>
                {{ form_errors(form.modele) }}
                {{ form_widget(form.modele) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5 container-fluid">
                <div>
                    <div style="display: inline-block;">
                        {{ form_label(form.typeVelo) }}
                    </div>
                    <div class="asterix">
                        (*)
                    </div>
                </div>
                {{ form_errors(form.typeVelo) }}
                {{ form_widget(form.typeVelo) }}
            </div>
            <div class="col-sm-5 container-fluid">
                <div>
                    <div style="display: inline-block;">
                        {{ form_label(form.etatVelo) }}
                    </div>
                    <div class="asterix">
                        (*)
                    </div>
                </div>
                {{ form_errors(form.etatVelo) }}
                {{ form_widget(form.etatVelo) }}
            </div>
        </div>

        <div style="display: inline-block;">
            {{ form_label(form.couleur) }}
        </div>
        <div class="asterix">
            (*)
        </div>
        <div id="appbundle_velo_couleur" class="row justify-content-center">
            {% for couleur in couleurs %}
            <label class="containerradio col-md-1">
                <input type="radio" {% if velo.couleur==couleur %}checked{% endif %} id="appbundle_VeloDescription_couleur_{{ couleur.id }}" name="appbundle_VeloDescription[couleur]" required="required" value="{{ couleur.id }}">
                <span class="checkmark" style="background-color: {{ couleur.codeHexa }}"></span>

            </label>
            {% endfor %}
        </div>
        <div class="row">
            {{ form_errors(form.couleur) }}
        </div>

        {{ form_row(form.neuf) }}
        {{ form_row(form.numFacture)}}
        {{ form_row(form.magasin) }}
        {{ form_row(form.dateAchat) }}
        {% do form.couleur.setRendered %}
        <div class="row justify-content-center">
            <input class="class bouton col-6" type="submit" value="Enregistrer" />
        </div>
        {{ form_end(form) }}
    </div>
</div>