<h2>LOCALISATION</h2>
{{ form_start(form) }}
<div id="floating-panel">
{{ form_label(form.adresse_velo) }}
{{ form_errors(form.adresse_velo) }}
{{ form_widget(form.adresse_velo) }}
<input id="submit" type="button" value="Rechercher">
</div>
<div id="map"></div>
<div class="container">
    <div class="card-block" id="formatted-address"></div>
    <div class="card-block" id="address-components"></div>
    <div class="card-block" id="geometry"></div>
</div>
<input type="submit" type="button" value="Enregistrer" />
{{ form_end(form) }}

<script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: {lat: 48.866667, lng: 2.333333}
        });
        var geocoder = new google.maps.Geocoder();

        document.getElementById('submit').addEventListener('click', function() {
            geocodeAddress(geocoder, map);
        });
    }

    function geocodeAddress(geocoder, resultsMap) {
        var address = document.getElementById('appbundle_velo_adresse_velo').value;
        geocoder.geocode({'address': address}, function(results, status) {
            if (status === 'OK') {
                resultsMap.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: resultsMap,
                    position: results[0].geometry.location
                });
            } else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
        });
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcSv2oPG3tP4f_DFHF_VgyvfhMDTtyFlA&callback=initMap">
</script>