{% block body %}

    {{ form_start(form) }}
    <div class="container-fluid">
        <div id="antivol">
            <h4>Points</h4>
            <div class="row">
                <p>En se basant sur les caractéristiques du vélo que vous partagez, nous vous suggérons le montant suivant
                    de Points par jour. En partageant votre vélo, vous augmenterez votre capital de 200 Points par journée
                    de partage. Autant de Points qui vous permettront d’accéder au vélo de votre choix quand vous en aurez
                    besoin.</p>
                <div class="col-sm-6">
                    {{ form_label(form.coutPts) }}
                    {{ form_errors(form.coutPts) }}
                    {{ form_widget(form.coutPts) }}
                </div>
            </div>
        </div>

        <div class="mt-2" id="bicycode">
            <h4>Dêpot de garantie</h4>
            <div class="row">
                <p>Si vous souhaitez sécuriser la transaction, nous vous conseillons de fixer un dépôt de garantie d’un
                    montant minimum de 150 euros pour l’intégralité de la période de partage.</p>
                <div class="col-sm-12">
                    {{ form_label(form.caution) }}
                    {{ form_errors(form.caution) }}
                    {{ form_widget(form.caution) }}
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}

    <p>Le marquage BICYCODE® est le seul dispositif reconnu par l'Etat en matière de lutte contre le vol et le recel de vélos. En marquant votre vélo vous augmentez vos chances de le retrouver en cas de vol.</p>

{% endblock %}